@page
@model ProjectStation.Pages.ArtistStuff.ArtistModel
@{
    ViewData["Title"] = "Artist";

}

<h1>Artist</h1>
@section TitleBlock {


}


<div class=" wrapper">




    <div class="halfContentBlock">
        <div class="mediumHeader">
            <div class=" mediumHeaderStyle">
                News
                <div class="fadedLine"></div>
                <div id="vrview"></div>
            </div>
        </div>
    </div>

</div>
