@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{

    <div id="cookieConsent"class=" alert alert-dismissible fade show" role="alert" 
         style=" max-height: 100px;
        width:100%;
        background-color: none;
        
        position: fixed;
        bottom: 100px;
        z-index:100;">

        <button class="close" data-dismiss="alert" data-cookie-string="@cookieString">
        <span aria-hidden="true" style="font-size: 12px; color: black;">Our site uses cookies to store your basic data in order to enhance your experience.</span>&times;</button>

    </div>

    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                
            }, false);
        })();
    </script>
} 