@page
@model ProjectStation.Pages.Shared._FooterModel
@{
    ViewData["Title"] = "_Footer";
}

    <div class="footer">
        <div class="contact-footer-bar">
            <div class="navbar-inner">
                <a asp-page="/contact">Contact Us</a>
            </div>

        </div>
    </div>
