<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteWideScreen.css" />
    <link rel="stylesheet" href="~/css/contact.css" />
    <link rel="stylesheet" href="~/css/DropDownMenu.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:white;">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Menu</button>
        <div class="topMiddle">
            <div id="myDropdown" class="dropdown-content">
                <a href="/">Home</a>
                <a href="news">News</a>
                <a href="artist">Artist</a>
                <a href="artist">Exhibition</a>
                <a href="artist">About</a>
                <a href="artist">Online Shop</a>

                <a href="artist">Company</a>
                <a href="artist">Access</a>
                <a href="contact">Contact</a>
                <a href="artist">Jp/Eng</a>

            </div>
        </div>
        
    </div>

    




    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="contact-footer-bar">
        <div class="navbar-inner">



            <a asp-page="/contact">Contact Us</a>



        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
