<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TIG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/contact.min.css" />
    <link rel="stylesheet" href="~/css/DropDownMenu.min.css" />
    <link rel="stylesheet" href="~/css/Universal.min.css" />
    <link rel="stylesheet" href="~/css/exhibit.min.css" />
    <link rel="stylesheet" href="~/css/shop.min.css" />
    <link rel="stylesheet" href="~/css/images.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&amp;subset=japanese" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>

<body id="section1" style="background-color:white; overflow-x:hidden;  max-width:100%">
    <div class="small">
        <partial name="_CookieConsentPartial" />
    </div>


    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <div class="container">
        
        <nav id="topNav" class="navbar fixed-top navbar-expand-md  navbar-light  topNav .d-none .d-md-block .d-xl-none">
            <!-- Brand/logo -->


            <ul class="navbar-nav collapse navbar-collapse justify-content-center" id="navbarNav">
                <li>
                    <a class="navbar-brand justify-content-center" href="/">
                        <img src="~/SiteAssets/tokyointernationalgallery.svg" style="height:64px;max-width:300px;" alt="Company logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Exhibitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Online Viewing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tig_official_jp/" target="_blank"><img src="~/SiteAssets/icon_ig.svg " style="max-width:35px;min-width:30px;" title="instagram page" /> </a>
                </li>
                <li> <a href="https://www.facebook.com/Tokyointernationalgallery/" target="_blank"><img src="~/SiteAssets/icon_fb.svg" style="max-width:35px;min-width:30px;" title="facebook page" /> </a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">en</a>
                </li>
            </ul>
            <div id="myNav" class="overlay d-md-none">
                <a href="javascript:void(0)" class="closebtn " onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a asp-page="/index" class="dropMenuItem">Home</a>
                    <a asp-page="/news" class="dropMenuItem">News</a>
                    <a asp-page="/exhibition" class="dropMenuItem">Exhibition</a>

                    <a asp-page="/artist/michaelho" class="dropMenuItem">Artist</a>



                    <a asp-page="/about" class="dropMenuItem">About</a>

                    <a asp-page="/company" class="dropMenuItem">Company</a>
                    <a asp-page="/access" class="dropMenuItem">Access</a>

                    <a asp-page="/contact" class="dropMenuItem">Contact</a>
                    <a asp-page="/shop" class="dropMenuItem">OnlineShop</a>

                    <form class="form-inline" asp-controller="Movies" asp-action="Index">
                        <i class="fas  fas fa-search nav-link" style="display:inline !important;"> </i>
                        <input type="text" name="SearchString" placeholder="Search site..." style="display:inline !important;">
                        <button type="submit" class="btn btn-primary">Search</button>


                    </form>
                </div>
            </div>

            <span class="d-md-none" style="font-size:30px;cursor:pointer">  <img src="~/SiteAssets/tokyointernationalgallery.svg" style="height:64px;max-width:300px;" alt="Company logo"></span>
            <span class="d-md-none" style="font-size:30px;cursor:pointer; right:20px!important;" onclick="openNav()">&#9776;</span>

            <script>
                function openNav() {
                    document.getElementById("myNav").style.width = "100%";
                }

                function closeNav() {
                    document.getElementById("myNav").style.width = "0%";
                }
            </script>
        </nav>




    </div>
    <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("topNav").style.padding = "10px 10px";
                document.getElementById("topNav").style.borderBottomStyle = "solid";

                document.getElementById("logo").style.fontSize = "25px";
            } else {
                document.getElementById("topNav").style.padding = "40px 10px";
                document.getElementById("topNav").style.borderBottomStyle = "none";
                document.getElementById("logo").style.fontSize = "35px";

            }
        }
    </script>


    @if (IsSectionDefined("TitleBlock"))
    {
    @RenderSection("TitleBlock")
    }
    else
    {
    <div class="container">
        <div class="row" style="margin-top:200px;">
            <div class="col-md-12">
                <img src="~/SiteAssets/tigLogo.png" style="max-width:300px;display:block;margin:auto;" alt="Company logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 ">
                <a asp-page="/index"><img class="returnHomeButton" src="~/SiteAssets/return_home.svg" title="return home"></a>
            </div>

        </div>
    </div>
    }



    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container" style=" margin-bottom:32px;">
        <footer>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        © Copyright 2020 TOKYO INTERNATIONAL GALLERY. All Rights Reserved.
                    </p>
                </div>

                <div class="col-md-2 offset-2">

                    <a href="https://www.facebook.com/Tokyointernationalgallery/" target="_blank"><img src="~/SiteAssets/icon_fb.svg" style="max-width:15px;min-width:10px;" title="facebook page" /> </a>
                    <a href="https://www.instagram.com/tig_official_jp/" target="_blank"><img src="~/SiteAssets/icon_ig.svg " style="max-width:15px;min-width:10px;" title="instagram page" /> </a>

                </div>
            </div>


        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/3025257c67.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
