<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TIG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/contact.scss/contact.min.css" />
    <link rel="stylesheet" href="~/css/DropDownMenu.min.css" />
    <link rel="stylesheet" href="~/css/Universal.min.css" />
    <link rel="stylesheet" href="~/css/exhibit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&amp;subset=japanese" rel="stylesheet">
</head>
<body id="section1" style="background-color:white; overflow-x:hidden; max-width:100%">




    <div class="dropMenu">
        <button onclick="myFunction()" class="dropMenuButton"></button>

    </div>
    <div id="buttonEvent1" class="dropMenuContent">
        <div class="dropMenuItem">
            <a asp-page="/index">Home</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="contact">Contact</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="news">News</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="artist">Artist</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="exhibition">Exhibition</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="about">About</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="onlineshop">OnlineShop</a>
        </div>
        <div class="dropMenuItem">
            <a asp-page="company">Company</a>
        </div>

    </div>

    @if (IsSectionDefined("TitleBlock")){
    @RenderSection("TitleBlock")
        }
        else {
<div class="headerBlock">

    <div class="logo">
        <img src="~/SiteAssets/tigLogo.png" alt="Company logo">

    </div>

        <a asp-page="/index" ><img class=" returnHomeButton" src="~/SiteAssets/return_home.svg" title="instagram page"></a>


</div>
   

            }




    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footerWrapper">

            <div class="contact-footer-bar">
                <a class="footerbar_link" asp-page="contact">Contact Us</a>
                <a href="#section1" class="faderArrowContainer" id="scrollToTop">
                    <div class="faderArrow1Bottom"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>
                    <div class="faderArrow2Bottom"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>
                    <div class="faderArrow3Bottom"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>

                </a>
                <div class="footerLogo">

                    <a asp-page="/index"><img src="~/SiteAssets/tigLogo.png" title="Tokyo International Gallery"></a>
                    <div class="footerLogoText">
                        <a asp-page="/index">Tokyo International Gallery</a>
                        <p>
                            2nd floor, Ginza Hacchoume Juban Building,
                            8-10-8 Ginza, Chūō, Tokyo, 104-0061
                        </p>
                        <div> <a class="readMore" href="contact" style="margin-bottom:200px;">Access</a></div>
                    </div>
                </div>
            </div>

        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
