@page
@model ProjectStation.Pages.ShopStuff.Projects.Sequence1Model
@{
    ViewData["Title"] = "Sequence1";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

    <body>

        <div class="container">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center projectTitle">SEQUENCE 1</div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-img col d-flex align-items-center justify-content-center"><img class="img-fluid" style="max-width:500px;" src="~/SiteAssets/shopstuff/yellowUnderwater.jpg"></div>
                </div>
                
            </div>
            <div class="row" style="margin-bottom:200px;">
                <p class="col d-flex  projectCaption" style="margin-left:28%;">SEQUENCE1</p>
            </div>
        </div>

    </body>

