@page
@model ProjectStation.Pages.ShopStuff.Projects.Sequence1Model
@{
    ViewData["Title"] = "Sequence1";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<body>


    <div class="container">
        <div class="row">
            <div class="m-md-auto">
                <div class="card h-100 justify-content-center align-items-center" style="border-style:none; max-width:800px;">
                    <h5 class="card-title projectTitle my-auto">SEQUENCE 1</h5>
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/yellowUnderwater.jpg" alt="Card image cap">
                    <div class="card-body">

                        <p class="card-text">In this fashion based art project, Michael Ho satires the collapsing of the distinctions between the fashion and art world. Outsider art and fashion is making its way through the back door of the high end art world. Conversely, fine artists are making their way outside of institutions and the white cube, through collaborative projects with commercial brands. Sequence 1 plays with this reversed cultural phenomenon, intentionally asserting its own “confused” identity. The collaborative efforts between Ho, a professional model/actress, photographer, and hair and makeup artist, simulates the polished aesthetic of a fashion label. The way in which a viewer “consumes” art becomes a more literal gesture through one’s patronage, while also functioning as a form of art collecting. The customer becomes a participant in this satirical simulation. The ambiguous and almost contradictory nature of the project exemplifies and investigates the current “trend” of the contemporary art world.</p>
                        <p class="card-text">マイケル・ホーはファッションを題材にしたこのプロジェクトを通じて、ファッションと芸術の境界が崩れつつある現状を風刺しています。かつて異端とされたアウトサイダーアートや商業の一分野であるファッションが、いつの間にか正統派の芸術の世界にじわじわと入り込み、その一方で正統派の芸術家が、商業ブランドとのコラボレーションなどを通じて、従来の慣例にとらわれず、美術館での展示という枠を飛び出しつつあります。Sequence 1はそうした相反する文化的現象を揶揄し、自らのアイデンティティが「混乱」しているさまをあえて見せつけます。ホーは、プロのモデルや女優、フォトグラファー、ヘアメイクアップアーティストとの共同作業を通じて、ファッションブランドが磨き上げた美意識の模倣を行っています。一方、鑑賞者は芸術を「消費」することで、パトロンとしてより率直な意思表示をすることになり、同時にそれが芸術蒐集の一形態としての機能も果たすようになっています。すなわち消費者もまた、この作品が表現する風刺的な模倣に参加しているのです。相反する解釈が可能で、矛盾をはらんでいるともいえるこのプロジェクトは、コンテンポラリーアート界の今の「トレンド」を実例により検証するものです。</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-deck projectCardStyle">
                <div class="card">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m1.jpg" alt="Card image cap">

                </div>
                <div class="card projectCardStyle">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m2.jpg" alt="Card image cap">

                </div>
                <div class="card projectCardStyle">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m3.jpg" alt="Card image cap">

                </div>

            </div>
        </div>
        <div class="row">
            <div class="card-deck projectCardStyle">
                <div class="card">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m4.jpg" alt="Card image cap">

                </div>
                <div class="card">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m5.jpg" alt="Card image cap">

                </div>
                <div class="card">
                    <img class="card-img-top" src="~/SiteAssets/shopstuff/Projects/Sequence1/m6.jpg" alt="Card image cap">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3">
                <div class="row ">
                    <div class="col-md-4">
                        <img src="~/SiteAssets/shopstuff/Projects/Sequence1/m7.jpg" class="card-img" alt="..." style="padding:28px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-muted">ARTIST</h5>
                            <h5 class="card-title">Michael Ho</h5>
                            <p class="card-text">
                                Michael Ho was born and raised on the Big Island of Hawaii in 1996. He graduated summa cum laude with a BA in fine arts from the University of California at Los Angeles (UCLA) in 2018.
                                Shortly after graduating, he moved to Tokyo, Japan in 2018 and began showing work in Tokyo and Hong Kong. Focusing on the visual semantics and quasi didacticism, his paintings and sculptures take from fleeting moments of American pop culture, investigating the more intricate ability for painting to engage in a contentious, active conversation with the viewer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hdiv class="card-body">
                            <p class="card-text"  style="padding:28px;">
                                マイケル・ホー
                                1996年、アメリカ・ハワイ島で生まれ、同島で育つ。カリフォルニア大学ロサンゼルス校（UCLA）
                                芸術学部で美術を学び、2018年に最優等賞を取得して卒業。美術学士。2018年、大学卒業後まもなく拠点を東京に移し、東京と香港で作品の発表を開始。視覚意味論と疑似教訓主義に焦点を当てた絵画や彫刻にアメリカのポップカルチャーを取り入れ、見る者との間に活発な対話が生じるような、より複雑な絵画の可能性を追求している。
                            </p>
                        </hdiv>
                    </div>
                </div>
                <div class="row" style="margin-top:48px;">
                    <a href="www.instagram.com"><img src="~/SiteAssets/icon_ig.svg" /></a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="card mb-3">
                <div class="row ">
                    <div class="col-md-4">
                        <img src="~/SiteAssets/shopstuff/Projects/Sequence1/nani.jpg" class="card-img" alt="..." style="padding:28px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-muted">PHOTOGRAPHER</h5>
                            <h5 class="card-title">Nani Welch Keliʻihoʻomalu</h5>
                            <p class="card-text">
                                Born and raised on the Big Island of Hawaii, photographer Nani Welch Keliʻihoʻomalu grew up exploring the unique natural surroundings of her home that continue to endlessly influence and inspire her work today. Nani took an interest in photography when she was 12 years old, shooting with whatever cameras she could find. Coming from a large Native Hawaiian family, she uses photography to further connect with her heritage and share the stories of her culture. Her work is a playful balance between classic portraiture and candid lifestyles.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hdiv class="card-body">
                            <p class="card-text" style="padding:28px;">
                                She strives to capture authentic and genuine moments whenever she picks up her camera. When Nani isn’t shooting, you can find her playing in the ocean or wandering through the forest. Always looking for the next adventure!
                            </p>
                        </hdiv>
                    </div>
                </div>
                <div class="row" style="margin-top:48px;">
                    <a href="www.instagram.com"><img src="~/SiteAssets/icon_ig.svg" /></a>
                </div>
            </div>

        </div>

    </div>

</body>

