
@page
@model ProjectStation.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}
@inject SignInManager<IdentityUser> signInManager;


    <h1>Account Access</h1>
   <container>
       <div class="row">
           <div class="col-md-12">
               <form method="post">
                   <div asp-validation-summary="All" class="text-danger"></div>
                   <div class="form-group">
                       <label asp-for="UserAccount.Email"></label>
                       <input asp-for="UserAccount.Email" class="form-control" />
                       <span asp-validation-for="UserAccount.Email" class="text-danger"></span>
                   </div>
                   <div class="form-group">
                       <label asp-for="UserAccount.Password"></label>
                       <input asp-for="UserAccount.Password" class="form-control" />
                       <span asp-validation-for="UserAccount.Password" class="text-danger"></span>
                   </div>
                   <div class="form-group">
                       <div class="checkBox">
                           <label asp-for="RememberMe">
                               <input asp-for="RememberMe" />
                               @Html.DisplayNameFor(m => m.RememberMe)
                           </label>
                       </div>
                   </div>
                   <button type="submit" class="btn btn-primary">Login</button>
               </form>
           </div>
       </div>
   </container>


<a asp-page="../Account/Register">Click here to create a new account.</a>




