@page
@model ProjectStation.Pages.Account.LoginViewModel
@{
    ViewData["Title"] = "LoginView";
}
@inject SignInManager<IdentityUser> signInManager;


    <h1>Account Access</h1>
   


<a asp-page="../Account/Register">Click here to create a new account.</a>




