@page "/News/{id:range(1,10000)}"
@model ProjectStation.Pages.NewsStuff.NewsDetailsModel
@{
    ViewData["Title"] = Model.NewsSnippet.Title;
}

    <h1>Model.NewsSnippet.Title</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mediumHeader">
                    <div class=" mediumHeaderStyle">
                        @Model.NewsSnippet.Title
                        <div class="fadedLine"></div>
                        <p>@Model.NewsSnippet.Date</p>
                        <p>@Model.NewsSnippet.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

