@page
@model ProjectStation.Pages.Exhibition.IAmBecomePressReleaseModel
@{
    ViewData["Title"] = "IAmBecomePressRelease";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fullMediumHeader">I_AM_BECOME.pdf</div>
            <div class="fadedLine"></div>
            <p>
                Michael Rikio Ming Hee Ho
                Tokyo International Gallery is pleased to announce “I_AM_BECOME.pdf” a hybrid VR solo exhibition of a new series of paintings by Tokyo based painter, Michael Rikio Ming Hee Ho (American, b. 1996). This is Ho’s first purely digital/VR exhibition with the gallery.

                Ho graduated summa cum laude with a BA in fine arts from the University of California at Los Angeles (UCLA) in 2018. In the UCLA art department, Ho worked under and among the department’s professor/artists: Barbara Kruger, Lari Pittman, Andrea Fraser, Catherine Opie, Mimi Lauter, Adrian Wong, Adrian Saxe, and Silke Otto-Knapp. In 2018, he moved to Tokyo, Japan and has since had shows in Tokyo and Hong Kong.

                Ho’s practice plays with absurdist images and phrases as a means to push the boundaries of painting’s ability to communicate information. Through only the square format, Ho’s provocative use of collage generates conversations surrounding social politics, popular culture, and the issues within art itself. Through satirical mimicry of such loaded subject matter, the collage of disparate visual, iconographic, and textual information coerces the viewer down their own conceptual rabbit hole, serving as a reflection of their own humanity. On the occasion of this exhibition, Ho’s response to the liminal state of the global art world manifests into this confused hybrid of both a virtual viewing room and physical show. Ho has produced 10 physical paintings which were then digitally composited into the virtual white space. His ASIAN SQUAT character, which has also taken a physical form before, has been digitally altered into the VR experience as fictional concrete statues, incorporated into the floor thus alluding to ancient ruins. The conflation of the hybrid virtual and physical experience attempts to predict and dissect the neo-identity of a pandemic traumatized artworld.

                東京インターナショナルギャラリーは、東京を拠点とするアーティスト、マイケル・リキオ・ミング・ヒーホー（アメリカ、1996年生まれ）による新シリーズの絵画のハイブリッドVR個展,【I_AM_BECOME.pdf】を開催します。当ギャラリーではホーの最初のデジタル/ VR展示となります。

                ホーは、2018年にカリフォルニア大学ロサンゼルス校（UCLA）で美術の学士号を取得し、最優等で卒業。UCLAの芸術科において、学部の教授/芸術家、バーバラ・クルーガー、ラリ・ピットマン、アンドレア・フレイザー 、キャサリン・オピー、ミミ・ラウター、エイドリアン・ウォン、エイドリアン・サックス、シルケ・オットーナップに師事する。 2018年に拠点を東京へ移し、それ以降東京と香港でショーを開催しています。

                ホーの取り組みは、絵画が持つ能力を超え情報を伝達する能力を広げる手段として、不条理な画像やフレーズを使用しています。 スクエアーフォーマットのみを用いた、ホーの挑発的なコラージュの使用は、社会政治、大衆文化、およびアート自体の内部の問題を取り巻く会話を生み出します。 問題提起をする主題の風刺的な模倣という手段で、ホーの視覚、図像、およびテキストなどの異なる情報を組み合わせたコラージュは、個人の人間性の反映として機能しながら各鑑賞者を概念的な逃げ場のない状況へ落とし込んで行きます。 本展覧会において、変化し続ける国際的アート界に対するホーの反応は、ヴァーチャル閲覧室、物理的なショー、という二つの異なる関係を混同したハイブリッドとして表現されます。そのようにして、ホーは作成した10枚の物理的な絵画をデジタル化して、仮想「ホワイトスペース」に投影しました。 彼のキャラクター【アジアン・スクワット】は以前、実際のインスタレーションの形をとっていましたが、架空のコンクリート像としてVR体験にデジタル化され、床に埋め込み、古代の遺跡をほのめかしています。 仮想体験と物理体験の融合は、パンデミックのトラウマを抱えたアートの世界の新しいアイデンティティを分析・予測しようとしています。
            </p>
        </div>
    </div>
</div>

