@page
@model ProjectStation.Pages.Artist.MichaelHoModel
@{
    ViewData["Title"] = "MichaelHo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    @section TitleBlock{
        <div class="row" style="margin-bottom:200px;margin-top:200px;">
            <div class="col-md-6 offset-6" >
                <a asp-page="/index">
                    <img class="smallLogo" src="~/SiteAssets/shopstuff/logo_2.jpg">
                </a>

            </div>
        </div>
        
    }

    <div class="row">
        <div class="col-md-6 artistTitle">
            MICHAEL HO
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/main-img.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class=" artistTitle"> ARTIST STATEMENT </div>
            <p class="artistParagraph">
                These paintings employ quasi-didactic textual expressions as a vehicle to bring to question the communicative limitations of painting itself, causing rhetorical fluctuations. Especially within square formats, oscillations between aspects of identity, mass culture, and absurdism constructs a skeletal platform of ambiguity; thus de-emphasizing such aspects as primary to the read of the work. Rather visual comportment and affective moments of punctum serve as the intermediary between the paintings’ objectivity and its communicability to the viewer. Receivership becomes an intrinsic performative act for these works, such that the viewer’s response is indexical of whether the work is read as an investigation outside or within art itself, occupying either public or private discourse. The subject of this body of work becomes political while the content itself is not.
                Meat prints operate as an insular, democratic visual element that resists essentializing impulses by the viewer. The non-hierarchical repetition of the meat prints arranges a protocol of how a viewer should enter the work, in which there is no anchoring imagery to initially prescribe meaning to and enter through. The viscerality or the meat prints advances the notion of material plasticity, without acting as a socio-political signifier of critique. The meat has a visual relationship and not a theoretical relationship to assemblage of other elements to each work.
                The references to ephemeral moments of American contemporary pop culture or polemical textual puns, demands a certain level of cultural literacy outside the language of painting. The visually authoritative text presents itself as studium in which the paintings can be read as employing the semantic operations of that of a poster or leaflet, advancing notions of didacticism. It is a kind of studium that exists within the works of Barbara Kruger, Edward Ruscha, Sam Durant, and Christopher Wool. Although the use of text suggests an essentialist approach to painting, the emphasis of material plasticity and engagement with a populace aesthetic complicates what could have easily become an overly specific gesture of private expression. Rather, the absurdist comportment of text, imagery, and perspectival space with one another, facilitates an incredibly unresolved surface, thus subliminally inviting the viewer to engage in a discussion with the paintings in pursuit of resolve. But the structuring of imagery and text is visual comportment that denies potential socio-political significations. The discussion between viewer and artwork becomes reciprocatory, inconclusive, and performative.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/artistWater.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/biography.jpg" />
        </div>
        <div class="col-md-6">
            <div class="artistTitle">MICHAEL HO</div>
            <p class="artistParagraph">
                Michael Ho was born and raised on the Big Island of Hawaii in 1996. He graduated summa cum laude with a BA in fine arts from the University of California at Los Angeles (UCLA) in 2018. In the UCLA art department, Michael worked under and among the Artists/professors, Barbara Kruger, Lari Pittman, Andrea Fraser, Catherine Opie, Adrian Wong, Adrian Saxe, Mary Kelly, and Silke Otto-Knapp. Shortly after graduating, he moved to Tokyo, Japan in 2018 and began showing work in Tokyo and Hong Kong. Focusing on the visual semantics and quasi didacticism, his paintings and sculptures take from fleeting moments of American pop culture, investigating the more intricate ability for painting to engage in a contentious, active conversation with the viewer.
            </p>
        </div>


    </div>

</div>