@page
@model ProjectStation.Pages.Artist.MichaelHoModel
@{
    ViewData["Title"] = "MichaelHo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid px-0">
    @section TitleBlock{
        <div class="row" style="margin-bottom:200px;margin-top:200px;">
            <div class="col-md-6 offset-6">
                <a asp-page="/index">
                    <img class="smallLogo" src="~/SiteAssets/shopstuff/logo_2.jpg">
                </a>

            </div>
        </div>

    }

    <div class="row artistRow no-gutters">
        <div class="col-md-6 artistTitle">
            MICHAEL HO
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/main-img.png" />
        </div>
    </div>

    <div class="row artistRow ">
        <div class="col-md-6">
            <div class=" artistTitle"> MICHAEL HO ARTIST STATEMENT </div>
            <p class="artistParagraph">
                These paintings employ quasi-didactic textual expressions as a vehicle to bring to question the communicative limitations of painting itself, causing rhetorical fluctuations. Especially within square formats, oscillations between aspects of identity, mass culture, and absurdism constructs a skeletal platform of ambiguity; thus de-emphasizing such aspects as primary to the read of the work. Rather visual comportment and affective moments of punctum serve as the intermediary between the paintings’ objectivity and its communicability to the viewer. Receivership becomes an intrinsic performative act for these works, such that the viewer’s response is indexical of whether the work is read as an investigation outside or within art itself, occupying either public or private discourse. The subject of this body of work becomes political while the content itself is not.
                Meat prints operate as an insular, democratic visual element that resists essentializing impulses by the viewer. The non-hierarchical repetition of the meat prints arranges a protocol of how a viewer should enter the work, in which there is no anchoring imagery to initially prescribe meaning to and enter through. The viscerality or the meat prints advances the notion of material plasticity, without acting as a socio-political signifier of critique. The meat has a visual relationship and not a theoretical relationship to assemblage of other elements to each work.
                The references to ephemeral moments of American contemporary pop culture or polemical textual puns, demands a certain level of cultural literacy outside the language of painting. The visually authoritative text presents itself as studium in which the paintings can be read as employing the semantic operations of that of a poster or leaflet, advancing notions of didacticism. It is a kind of studium that exists within the works of Barbara Kruger, Edward Ruscha, Sam Durant, and Christopher Wool. Although the use of text suggests an essentialist approach to painting, the emphasis of material plasticity and engagement with a populace aesthetic complicates what could have easily become an overly specific gesture of private expression. Rather, the absurdist comportment of text, imagery, and perspectival space with one another, facilitates an incredibly unresolved surface, thus subliminally inviting the viewer to engage in a discussion with the paintings in pursuit of resolve. But the structuring of imagery and text is visual comportment that denies potential socio-political significations. The discussion between viewer and artwork becomes reciprocatory, inconclusive, and performative.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/artistWater.jpg" />
        </div>
    </div>

    <div class="row artistRow">
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/biography.jpg" />
        </div>
        <div class="col-md-6">
            <div class="artistTitle">BIOGRAPHY</div>
            <p class="artistParagraph">
                Michael Ho was born and raised on the Big Island of Hawaii in 1996. He graduated summa cum laude with a BA in fine arts from the University of California at Los Angeles (UCLA) in 2018. In the UCLA art department, Michael worked under and among the Artists/professors, Barbara Kruger, Lari Pittman, Andrea Fraser, Catherine Opie, Adrian Wong, Adrian Saxe, Mary Kelly, and Silke Otto-Knapp. Shortly after graduating, he moved to Tokyo, Japan in 2018 and began showing work in Tokyo and Hong Kong. Focusing on the visual semantics and quasi didacticism, his paintings and sculptures take from fleeting moments of American pop culture, investigating the more intricate ability for painting to engage in a contentious, active conversation with the viewer.
            </p>
        </div>
    </div>

    <div class="row artistRow"style="margin-bottom:100px;margin-top:100px;">
        <div class="col-md-12">

            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/banner.jpg" style="z-index:-1;"/>

            
                <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works.png" style="position:absolute; z-index:2;" />
           

        </div>
    </div>

    <div class="row artistRow">
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/spider.jpg" />
        </div>
        <div class="col-md-6">
            <div class="artistTitle">Hyper Kitsch, Spiders Die on Their Backs – Composition 1</div>
            <p class="artistParagraph">
                Hyper Kitsch, Spiders Die on Their Backs – Composition 1
                The title takes on a poetic tone, literally referring to the spider imagery within the space of the painting. Layered on top of the visual clutter of the surface, black enamel paint contours a suggested perspectival space while simultaneously engaging with its plasticity. Conceptual navigation between title, illusionistic space, and material surface shapes the participatory experience by the viewer.
            </p>
        </div>
    </div>

    <div class="row artistRow">

        <div class="col-md-6">
            <div class="artistTitle">Spiders Die on Their Backs – Composition 2</div>
            <p class="artistParagraph">
                Spiders Die on Their Backs – Composition 2
                In this composition, a gradient of black accentuates the geometry and illusionistic dimensionality of the suggested floating platform. While this spatial logic insinuates the existence of a vanishing point when the painting is viewed　from a distance, the matte surface of the meat prints, spray paint, spider form, and drips of enamel remain flattened,　thus re-contextualizing material comportment as an equally important conceptual entry point into the painting.
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/work02.jpg" />
        </div>
    </div>

    <div class="row artistRow">

        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works03.jpg" />
        </div>

        <div class="col-md-6">
            <div class="artistTitle">Spiders Die on Their Backs – Composition 3</div>
            <p class="artistParagraph">
                Spiders Die on Their Backs – Composition 3
                Through the absence of the spider imagery while still referring to it in the title, the recurring motif of the monolithic platform in space puts emphasis on seemingly metaphorical or allegorical overtones. The stark contrast in the visual operations between an ethereal/fantastical space and a flattened material surface provokes an affective response, thus disrupting the narrative tone of the other two compositions; it promises then immediately frustrates meaning for the viewer.
            </p>
        </div>

    </div>

    <div class="row artistRow">

        <div class="col-md-6">
            <div class="artistTitle">Push Me to the Edge</div>
            <p class="artistParagraph">
                Push Me to the Edge
                Both the title and text “ALL MY FRIEND ARE BREAD” reference the excerpt from Lil Uzi Vert’s song, XO Tour Llif3, “Push me to the edge, all my friends are dead.” The text within the painting, meat prints, and sharp black obliques disappear into a suggested perspectival vanishing point. While the “ALL MY FRIENDS ARE BREAD” follows the perspectival logic of the space, the satirical gesture of turning “dead” to “bread” theoretically dissociates itself from the rest of the visual logic and operations of the work, especially having derived from an obscure pop cultural reference.
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works04.jpg" />
        </div>
    </div>
    <div class="row artistRow">

        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works05.jpg" />
            <div class="artistTitle">Demafrogue</div>
            <p class="artistParagraph">
                Demafrogue
                The word “DEMAFROGUE”, a pun taken from the term “demagogue,” dissolves within the field of meat prints that neither operate as a background nor foreground. “DEMAFROGUE” is further obscured within the materiality and drips of its own mirrored shadow. Visual chaos thus creates tension between legibility, semantics, and an affective experience with the surface.
            </p>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works06.jpg" />
            <div class="artistTitle">Our Heresy</div>
            <p class="artistParagraph">
                Our Heresy
                The text “OUR HERESY”visually evaporates into the color field of the background. The black shadow of the text, in addition to the geometric blocks of red in the top corners, suggests a perspectival logic that is simultaneously contradicted by the paint drips. Scans of meats prints are used to contour the silhouette of the flies, the only semiotic visual element in the work.
            </p>
        </div>
    </div>

    <div class="row artistRow">
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works07.jpg" />
        </div>
        <div class="col-md-6">
            <div class="artistTitle">FEAR OF DOG</div>
            <p class="artistParagraph">
                FEAR OF DOG
                Making a pun on the phrase, “Fear of God,” referring to one’s submission to a deity, insinuates a polemic gesture of heresy yet this insinuation is intentionally left poorly substantiated. The socio-politically loaded pun itself functions as the studium in which the visual language of surface plasticity gives rise to punctum.
            </p>
        </div>
    </div>

    <div class="row artistRow">
        <div class="col-md-6">
            <div class="artistTitle">The Ramen Devil</div>
            <p class="artistParagraph">
                The Ramen Devil
                This sculpture is artifact made to tribute the Ramen Devil, a fictitious deity based on the internet icon Filthyfrank. Make up of hundreds of layers of cardboard, the saber tooth tiger skull is suspended by a plexiglass plinth. The 3D model of the saber tooth tiger skull was sourced from an online 3D model library, thus the historical accuracy and origin of the skull model itself is unknown. The experience of navigating the around the museological presentation of the sculpture necessitates a spiritual engagement with the quasi-archaeological object. The sculpture itself is invaluable as a historical reproduction, instead its value derives from its function as a shrine and a spiritual conduit for the “Ramen Devil.”
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/SiteAssets/Artists/Michael/works08.jpg" />
        </div>

    </div>

</div>