@page
@model ProjectStation.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
}

<style>
    .btn {
        width: 75px;
    }
</style>

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search </button>
        </div>
    </div>
</form>

<vc:head-count client-type-name="@null"></vc:head-count>
<h1>Clients</h1>

<div class="card-deck">
    @foreach (var client in Model.Users)
    {
        <partial name="_DisplayUserPartial" model="client" view-data="ViewData" />
    }
</div>