@page
@model ProjectStation.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
}

<style>
    .btn{
        width:75px;
    }
</style>

<h1>Clients</h1>

<div class="card-deck">
    @foreach (var client in Model.Users)
    {
        <partial name="_DisplayUserPartial" model="client" view-data="ViewData" />
    }
</div>