



.dropMenu {
    left: 70%;
    padding-top: 50px;
    position: absolute;
    display: block;
}

/*
@media only screen and (max-width: 768px) {
    .dropMenu{
        display: block;
    }
}*/

.dropMenuButton {
    display: block;
    background-color: darkgray;
    padding: 16px 8px;
    border-radius: 40px;
    position:static;
}

    .dropMenuButton:hover {
        background-color: lightgray;
        transition: 1s;
    }

    .dropMenuButton:focus {
        background-color: lightgray;
        outline: none;
       
    }

.dropMenuContent {
    display: none;
    height:100%;
    width:100%;
    position: absolute;
    background-color:darkgray;
    transform:translateY(100);
    transition:ease-in-out 3s;
}

.dropMenuItem {
    color: whitesmoke;
    width: 100%;
    height:50px;
    font-family: Courier New, Courier, monospace;
    text-align:center;
    font-size: 2em;
    display:block;
}

    .dropMenuItem:hover {
        background-color: lightgray;
        transition: 1s;
    }

.show {
    display: block;
}

.hide{
    display:none;
}
