.dropMenu {
  left: 70%;
  padding-top: 25px;
  position: absolute;
  display: none; }

@media only screen and (max-width: 768px) {
  .dropMenu {
    display: block; } }

.dropMenuButton {
  display: block;
  background-color: ghostwhite;
  width: 50px;
  padding: 16px 8px;
  border-radius: 12px;
  position: relative;
  color: lightgray;
  box-shadow: none;
  outline: none;
  z-index: 2; }
  .dropMenuButton:hover {
    background-color: lightgray;
    transition: 1s; }
  .dropMenuButton:focus {
    background-color: lightgray;
    outline: none; }

.dropMenuContent {
  display: block;
  width: 120vw;
  position: absolute;
  background-color: #9d9393;
  height: 0px;
  overflow-y: hidden;
  transition: height .5s ease-out;
  font-family: 'arial', 'Noto Sans JP', sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 400; }

.show {
  height: 600px; }

.dropMenuItem {
  width: 100vw;
  height: 50px;
  text-align: center;
  display: block;
  color: white;
  z-index: 2;
  opacity: 1; }
  .dropMenuItem a {
    font-family: Courier New, Courier, monospace;
    color: white;
    z-index: 2; }
  .dropMenuItem:hover {
    opacity: 1;
    background-color: lightgray;
    transition: 1s; }
