.smallLogo {
  margin-right: 200px;
  width: 25%; }

.inlineNavBar {
  position: relative;
  width: 100%;
  text-align: center; }
  .inlineNavBar ul {
    list-style: none; }
    .inlineNavBar ul li {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 24px;
      padding-right: 24px; }
      .inlineNavBar ul li a {
        color: #333333;
        text-decoration: none;
        font-size: 18px;
        font-family: 'arial', 'Noto Sans JP', sans-serif;
        font-weight: 800; }

.centralImage {
  transform: translate(-50%);
  margin-left: 55%;
  width: 80%; }

.bodyAllignment {
  position: relative;
  margin-left: 20%;
  margin-right: 20%; }

.centerTitle {
  margin-top: 100px;
  color: #333333;
  text-decoration: none;
  font-size: 24px;
  font-family: 'arial', 'Noto Sans JP', sans-serif;
  font-weight: 800;
  margin-left: 50%; }

.portrait {
  margin-top: 50px;
  width: 100%;
  height: 600px; }

.portraitFloatRightText {
  float: right;
  margin-right: 5%;
  width: 100%; }

.portraitImg {
  margin-right: 50px;
  width: 50%;
  height: 100%;
  object-fit: cover; }

.blackMoreButton {
  transform: translate(-50%);
  background-color: black;
  color: white;
  padding: 4px 20px 4px 20px;
  margin-left: 50%;
  margin-top: 100px;
  font-size: 24px;
  font-family: 'arial', 'Noto Sans JP', sans-serif;
  border-style: none;
  font-weight: 400; }

.mobileNavBar {
  position: fixed;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 2; }
  .mobileNavBar ul li {
    display: inline;
    width: 33%;
    height: 100%; }

@media only screen and (max-width: 768px) {
  .inlineNavBar {
    display: none; }
  .bodyAllignment {
    margin-left: 0%;
    margin-right: 0%; }
  .portraitImg {
    float: none;
    width: 100%; }
  .mobileNavBar {
    display: block; } }
