
.wrapper {
    height: 2000px;
    overflow: scroll;
    display:block;
}


.titleBlock {
    margin-top: 250px;
    position: relative;
    margin-left: 50%;
}

#tigLogo {
    margin-left: -100px;
}

#left-nav {
    display: block;
    position: absolute;
    margin-left: -550px;
    margin-top: -250px;
}



#right-nav {
    display: block;
    position: absolute;
    margin-left: 450px;
    margin-top: -250px;
}

.socialMediaIcons {
    position: relative;
    margin-left: 450px;
    margin-top: 0px;
}

#instagramButton {
    float: left;
    width: 50px;
}

#facebookButton {
    float: left;
    padding-left: 20px;
    width: 70px;
}


@media only screen and (max-width: 1200px) {

    #right-nav {
        margin-left: 350px;
    }

    #left-nav {
        margin-left: -450px;
    }

    .socialMediaIcons {
        margin-left: 350px;
    }
}

@media only screen and (max-width: 990px) {

    #right-nav {
        margin-left: 250px;
    }

    #left-nav {
        margin-left: -350px;
    }

    .socialMediaIcons {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 768px) {
    #tigLogo{
        margin-top:-150px;
    }
    #right-nav {
        margin-left: 150px;
        display: none;
    }

    #left-nav {
        margin-left: -250px;
        display:none;
    }

    .socialMediaIcons {
        margin-left: -60px;
        margin-top:60px;
    }
}



.img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 25px;
    background-color: none;
}

li a {
    font-family: Courier New, Courier, monospace;
    font-size: 1.4rem;
    color: #9d9393;
    display: block;
    background-color: white;
    padding: 16px 16px;
    text-decoration: none;
    line-height: .9em;
}

    li a:hover {
        background-color: white;
        color: lightgray;
        text-decoration-line: underline;
        text-decoration-color: black;
    }



.contact-footer-bar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact-footer-bar a {
        color: white;
        background-color: darkgray;
        text-align: center;
        display: inline-block;
        border-radius: 40px;
        padding: 20px 40px;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 20px;
    }


        .contact-footer-bar a:hover {
            background-color: lightgray;
        }


@media screen and (max-width:959px) {
}


@keyframes animateArrowsDown {
}



#masthead .arrow-animation {
    width: 100%;
    position: absolute;
    bottom: 40px;
}

@keyframes arrow-down {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -238px
}

.logo-wrap {
    width: 280px;
    height: 300px;
    margin-bottom: 8vh;
    display: inline-block;
}

.top-bnr img {
    height: calc(100vh - 20vh - (300px + 8vh) - 120px);
    width: auto;
    max-height: 260px;
}

path {
    fill: none;
    stroke: #000;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    stroke-width: 1;
    -webkit-animation: hello 3s ease-in forwards;
    animation: hello 3s ease-in forwards;
}

@-webkit-keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
    }

    50% {
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #333;
    }
}

@keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
    }

    50% {
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #333;
    }
}

.arrow-animation img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    animation-duration: 2s;
    animation-name: arrow-down;
    animation-iteration-count: infinite;
    position: relative;
}

#masthead .arrow-animation img:first-of-type {
    animation-delay: 0s;
}

#masthead .arrow-animation img:last-of-type {
    animation-delay: .6s;
}

.arrow-animation-footer.arrow-animation img:first-of-type {
    animation-delay: .6s;
}

.arrow-animation-footer.arrow-animation img:last-of-type {
    animation-delay: 0;
}

.arrow-animation img:nth-of-type(2) {
    animation-delay: .3s;
    top: -5px;
}

.arrow-animation img:last-of-type {
    top: -10px;
}

.home #responsive-menu-button {
    display: none !important;
}

button#responsive-menu-button {
    border: 1px solid #9d9393 !important;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .logo-wrap {
        width: 160px;
        height: 172px;
    }
}

@media screen and (max-width: 575px) {
    #masthead {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .home #responsive-menu-button {
        display: block !important;
    }
}
