



.center {
    margin: auto;
    left: 50%;
    width: 50%;
}

.centerImage {
    position: absolute;
    display: block;
    vertical-align: auto;
    margin: auto;
    width: 50%;
}

.navbar-left {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 256px;
    width: 50%;
}

.navbar-right {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 256px;
    width: 50%;
}

ul {
    list-style-type: none;
    margin-top: 128px;
    padding: 0;
    width: 25px;
    background-color: none;
}

li a {
    font-family: Courier New, Courier, monospace;
    font-size: 1.4rem;
    color: #9d9393;
    display: block;
    background-color: whitesmoke;
    padding: 16px 16px;
    text-decoration: none;
    line-height: .9em;
}

    li a:hover {
        background-color: whitesmoke;
        color: lightgray;
        text-decoration-line: underline;
        text-decoration-color: black;
    }



.contact-footer-bar {
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact-footer-bar a {
        color: white;
        background-color: darkgray;
        text-align: center;
        display: inline-block;
        border-radius: 40px;
        padding: 20px 40px;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 20px;

    }


        .contact-footer-bar a:hover {
            background-color: lightgray;
        }
