
.wrapper {
    height: 2000px;
    overflow: scroll;
    display: block;
}

.hide {
    display: none;
}

.titleBlock {
    margin-top: 250px;
    position: relative;
    margin-left: 50%;
}

#tigLogo {
    margin-left: -100px;
}

.left-nav {
    display: block;
    position: absolute;
    margin-left: -550px;
    margin-top: -250px;
}



.right-nav {
    display: block;
    position: absolute;
    margin-left: 450px;
    margin-top: -250px;
}

.socialMediaIcons {
    position: relative;
    margin-left: 450px;
    margin-top: 0px;
}

#instagramButton {
    float: left;
    width: 50px;
}

#facebookButton {
    float: left;
    padding-left: 20px;
    width: 70px;
}



.img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 25px;
    background-color: none;
}

li a {
    font-family: Courier New, Courier, monospace;
    font-size: 1.4rem;
    color: #9d9393;
    display: block;
    background-color: white;
    padding: 16px 16px;
    text-decoration: none;
    line-height: .9em;
}

    li a:hover {
        background-color: white;
        color: lightgray;
        text-decoration-line: underline;
        text-decoration-color: black;
    }

    /*BOTTOM HALF OF PAGE*/
.bottomHalf {
    margin-top: 700px;
    position: relative;
    margin-left: 50%;
}

.mediumHeader {
    font-family: Courier New, Courier, monospace;
    font-size: 2.5em;
    font-weight:700;
    color: lightgray;
    position: relative;
}

.headerLeft{

}
.headerRight{
    margin-left:-180%;
}

.fadedLine{
    height:10px;
    background-color:red;
    width:400px;
    padding-top:10px;
    position:absolute;
}

/*FOOTER*/
.contact-footer-bar {
    overflow: hidden;
    background-color: white;
    position: absolute;
    bottom: -100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact-footer-bar a {
        color: white;
        background-color: darkgray;
        text-align: center;
        display: inline-block;
        border-radius: 40px;
        padding: 20px 40px;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 20px;
    }


        .contact-footer-bar a:hover {
            background-color: lightgray;
        }



/*RESIZING*/

@media only screen and (max-width: 1200px) {

    .right-nav {
        margin-left: 350px;
    }

    .left-nav {
        margin-left: -450px;
    }

    .socialMediaIcons {
        margin-left: 350px;
    }
}

@media only screen and (max-width: 990px) {

    .right-nav {
        margin-left: 250px;
    }

    .left-nav {
        margin-left: -350px;
    }

    .socialMediaIcons {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 768px) {
    #tigLogo {
        margin-top: -150px;
    }

    .right-nav {
        margin-left: 150px;
        display: none;
    }

    .left-nav {
        margin-left: -250px;
        display: none;
    }

    .socialMediaIcons {
        margin-left: -60px;
        margin-top: 60px;
    }
}

@media only screen and (max-width: 290) {
    #tigLogo {
        display: block;
    }



    .socialMediaIcons {
        margin-left: -60px;
        margin-top: 60px;
    }
}