.wrapper {
  overflow-x: hidden; }

.hide {
  display: none; }

.titleBlock {
  position: relative;
  top: 200px;
  margin: 0 auto;
  width: 1050px; }
  .titleBlock ul {
    list-style: none; }
    .titleBlock ul li a {
      font-family: Courier New, Courier, monospace;
      font-size: 1.2em;
      position: relative;
      bottom: 15px;
      color: darkGray;
      line-height: 55px; }
      .titleBlock ul li a:hover {
        background-color: white;
        text-decoration-line: underline;
        text-decoration-color: black;
        transition: ease-in 1s; }
  .titleBlock img {
    width: 25%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative; }

.leftBar {
  position: absolute;
  text-align: left;
  top: 0;
  transform: translate(-50%, 0); }

.rightBar {
  position: absolute;
  top: 0;
  right: 0;
  border: 0px; }

.socialMediaIcons:hover {
  filter: invert(50);
  transition: ease-in 1s; }

#instagramButton {
  display: inline-block;
  position: absolute;
  margin: 50%; }

#facebookButton {
  position: absolute;
  margin-left: 20px;
  padding-bottom: 50px; }

/*BOTTOM HALF OF PAGE*/
.bottomHalf {
  margin-top: 700px;
  position: relative;
  margin-left: 50%; }

.leftBottomBlock {
  position: relative;
  margin-left: -500px;
  display: inline-block;
  width: 500px;
  list-style: none; }
  .leftBottomBlock ul {
    position: relative;
    font-size: 12px;
    display: inline-block;
    height: 25px;
    list-style: none;
    color: lightgray;
    width: inherit; }
    .leftBottomBlock ul li {
      width: inherit;
      margin-left: -40px;
      margin-top: 20px;
      border-bottom: 2px solid darkGray;
      font-size: 18px;
      line-height: 50px; }
      .leftBottomBlock ul li a {
        color: black; }

.fadedLine {
  position: absolute;
  height: 5px;
  background-image: linear-gradient(0.9turn, white, red);
  background-color: red;
  width: 500px;
  padding-top: 5px; }

.mediumHeader {
  font-family: Courier New, Courier, monospace;
  font-size: 2.5em;
  font-weight: 600;
  color: black; }

.listImageContainer {
  position: relative; }

.imageOverlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  width: 100%;
  height: 30%;
  bottom: 50px; }

.textImageOverlay {
  position: absolute;
  font-family: Courier New, Courier, monospace;
  font-size: 20px;
  bottom: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  text-wrap: normal; }

.rightBottomBlock {
  display: inline-block;
  margin-left: 0%;
  width: 500px;
  vertical-align: top; }
  .rightBottomBlock ul {
    list-style: none; }
    .rightBottomBlock ul li {
      margin-left: -40px; }
  .rightBottomBlock img {
    position: relative;
    left: 0;
    padding-bottom: 50px;
    padding-top: 26px;
    width: 100%;
    list-style: none;
    z-index: -1; }
    .rightBottomBlock img:hover {
      transition: ease-in-out .15s;
      opacity: .8; }

.leftBottomBlock a:link {
  font-size: 18px;
  color: black !important; }

a.readMore {
  display: block;
  padding: 8px 5px;
  text-align: center;
  border-color: darkGray !important;
  border-width: 1px;
  border: solid;
  margin-left: inherit;
  margin-top: 50px;
  color: gray !important;
  width: 200px; }
  a.readMore:hover {
    background-color: darkGray;
    color: black !important;
    text-decoration: none; }

.leftSideImage {
  margin-left: 0;
  padding-top: 50px;
  width: 100%; }
  .leftSideImage:hover {
    transition: ease-in-out .15s;
    opacity: .8; }

.rightSideImage {
  position: absolute;
  margin-left: 0;
  margin-bottom: 250px;
  width: 500px; }
  .rightSideImage:hover {
    transition: ease-in-out .15s;
    opacity: .8; }

/*FOOTER*/
.contact-footer-bar {
  display: none;
  overflow: hidden;
  background-color: white;
  position: absolute;
  bottom: -150%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-footer-bar a {
  display: none;
  color: white;
  background-color: darkGray;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 20px; }
  .contact-footer-bar a:hover {
    background-color: lightGray; }

/*RESIZING*/
@media only screen and (max-width: 1200px) {
  .titleBlock {
    width: 650px; }
    .titleBlock img {
      width: auto; }
  .leftSideImage {
    width: 80%; }
  .leftBottomBlock {
    margin-left: -450px; }
  .rightBottomBlock {
    margin-left: -50px;
    position: absolute; }
  .fadedLine {
    width: 400px; }
  .leftBottomBlock ul li {
    width: 400px; }
  .rightBottomBlock img {
    width: 80%; } }

@media only screen and (max-width: 990px) {
  .titleBlock {
    width: 550px; }
  .leftBottomBlock {
    margin-left: -400px; }
  .fadedLine {
    width: 350px; } }

@media only screen and (max-width: 880px) {
  .titleBlock {
    width: 450px; }
    .titleBlock img {
      width: 50%; }
  .fadedLine {
    width: 300px; } }

@media only screen and (max-width: 768px) {
  .titleBlock {
    width: 350px; }
  .leftBar {
    display: none; }
  .rightBar li {
    display: none; }
  .rightBar {
    position: absolute;
    margin-left: 0px; }
  .socialMediaIcons {
    position: absolute;
    margin-left: -180%;
    margin-top: 250px; }
  .fadedLine {
    width: 250px; }
  .fadedLine {
    width: 100vw;
    display: block; }
  .leftBottomBlock {
    margin-left: -50vw; }
    .leftBottomBlock ul li {
      width: 100vw; }
  .rightBottomBlock {
    display: block;
    margin-left: -50vw;
    position: relative; } }

@media only screen and (max-width: 640px) {
  /*
    .wrapper{
        overflow-x:hidden;
        overflow-y:scroll;
        height:100%;
    }*/ }

@media only screen and (max-width: 233px) {
  .wrapper {
    overflow: auto; }
  .rightBar {
    position: absolute;
    margin-left: 50%; }
  .socialMediaIcons {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: -180%; } }
