
$backGroundColor: white;
$primaryColor: lightGray;
$secondayGray: darkGray;
$standardFont: Courier New, Courier, monospace;

$leftOffset:-450px;
$rightOffset:500px;
.wrapper {
   
}

.hide {display: none;}

.titleBlock {margin-top: 250px; margin-left:50%;}

.titleBlock img {
    transform:translate(-50%,0);
    position:absolute;
}

.titleBlock ul {list-style: none;}

.titleBlock li{

    margin-bottom: 15px;
    margin-right:0px;

}
.titleBlock li a {
    font-family: $standardFont;
    font-size: 1.2em;
    position: relative;
    bottom: 15px;
    color: $secondayGray;

    &:hover {
        background-color: $backGroundColor;
        text-decoration-line: underline;
        text-decoration-color: black;
        transition: ease-in 1s;
    }
}

.leftBar {
    position: absolute;
    text-align: left;
    margin-left:$leftOffset;
    transform: translate(-50%,0);

}


.rightBar {
    position: absolute;
    padding-top:10px;
    margin-left:$rightOffset;
    transform: translate(-50%,0);
    border:0px;
}


.socialMediaIcons {
    width:50px;
    height:auto;
    transform: translate(-50%,0);
    position:absolute;
    display:inline-flex;
    padding-left:50px;
    &:hover {
        filter: invert(50);
        transition: ease-in 1s;
    }
}

#instagramButton {}

#facebookButton {padding-left:80px;}


/*BOTTOM HALF OF PAGE*/
.bottomHalf {
    margin-top: 550px;
    position: absolute;
}


.leftBottomBlock {
    position: absolute;
    margin-left:$leftOffset - 50px;

}

$fadedLineWidth: 500px;

.fadedLine {
    height: 5px;
    background-image: linear-gradient(.9turn,$backGroundColor,red );
    background-color: red;
    width: $fadedLineWidth;
    padding-top: 5px;
}


.mediumHeader {
    font-family: $standardFont;
    font-size: 2.5em;
    font-weight: 700;
    color: $secondayGray;
}




.rightBottomBlock {
    position: absolute;
    margin-left:50%;

}

.leftBottomBlock ul {
    font-size: 12px;
    display: inline-block;
    height: 25px;
    font-weight: 800;
    color: $secondayGray;
    position: absolute;
    background-color: transparent;
    list-style:none;


    &:after {
        content: "";
        border-bottom: 2px solid $secondayGray;
        position: absolute;
        width: inherit;
        bottom: -25px;
        left: 0px;
    }
}




.rightBottomBlock ul{

}



@mixin standardFont {
    font-family: $standardFont;
    font-size: .3em;
}





a.readMore {
    display: block;
    padding: 8px 5px;
    text-align: center;
    border-color: $secondayGray;
    border-width: 2px;
    border: solid;
    margin-left: 250px;
    margin-top: 50px;
    width: 200px;

    &:hover {
        background-color: $secondayGray;
        color: black;
        text-decoration: none;
    }
}

.vrImage {
    padding-top:50px;
    width: $fadedLineWidth;
    height: 300px;

    &:hover{
        transition:ease-in-out .15s;
        opacity:.8;
    }
}
/*FOOTER*/
.contact-footer-bar {
    overflow: hidden;
    background-color: $backGroundColor;
    position: absolute;
    bottom: -150%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-footer-bar a {
    color: $backGroundColor;
    background-color: $secondayGray;
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 20px;

    &:hover {
        background-color: $primaryColor;
    }
}



/*RESIZING*/

@media only screen and (max-width: 1200px) {

    .leftBar{
        margin-left:$leftOffset + 100px;
    }
    .rightBar{
        margin-left:$rightOffset - 100px;
    }

    .leftBottomBlock {
        margin-left: $leftOffset + 50px;
    }

    .fadedLine {
        width: $fadedLineWidth - 100px;
    }

}

@media only screen and (max-width: 990px) {

    .leftBar {
        margin-left: $leftOffset + 150px;
    }

    .rightBar {
        margin-left: 350px;
    }

    .leftBottomBlock {
        margin-left: $leftOffset + 100px;
    }

    .fadedLine {
        width: $fadedLineWidth - 150px;
    }


}

@media only screen and (max-width: 880px) {
    .leftBar {
        margin-left: $leftOffset + 200px;
    }

    .rightBar {
        margin-left: $rightOffset - 200px;
    }
    .leftBottomBlock {
        margin-left: $leftOffset + 150px;
    }

    .fadedLine {
        width: $fadedLineWidth - 200px;
    }
}

@media only screen and (max-width: 768px) {


    .leftBar {
        margin-left: $leftOffset + 250px;
    }

    .rightBar {
        margin-left: $rightOffset - 250px;
    }
    .leftBottomBlock {
        margin-left: $leftOffset + 200px;
    }

    .fadedLine {
        width: $fadedLineWidth - 250px;
    }
}

@media only screen and (max-width: 640px) {
    .leftBar {
        display: none;
    }

    .rightBar li {
        display: none;
    }

    .rightBar {
        position: absolute;
        margin-left: 0px;
    }

    .leftBottomBlock {
        margin-left:-50vw;
    }

    .fadedLine {
        width:100vw;
    }
    .bottomHalf {
        position: absolute;
        margin-left: 0%;
    }



    .rightBottomBlock {
        margin-top: 950px;
        margin-left: -50vw;
    }

    .socialMediaIcons {
        position: absolute;
        margin-left: -180%;
        margin-top: 250px;
    }
}

@media only screen and (max-width: 233px) {
    
   .titleBlock img
   {
      margin-left:0vw ;
   }
   .rightBar{
       position:absolute;
       margin-left:50%;
   }

    .socialMediaIcons {
        position:absolute;
        max-width: 100%;
        max-height: 100%;
        margin-left: -180%;
    }
}
