.hide {
  display: none; }

.titleBlock {
  margin-top: 250px;
  margin-left: 50%; }
  .titleBlock ul {
    list-style: none; }
    .titleBlock ul li {
      margin-bottom: 15px;
      margin-right: 0px; }
      .titleBlock ul li a {
        font-family: Courier New, Courier, monospace;
        font-size: 1.2em;
        position: relative;
        bottom: 15px;
        color: darkGray; }
        .titleBlock ul li a:hover {
          background-color: white;
          text-decoration-line: underline;
          text-decoration-color: black;
          transition: ease-in 1s; }
  .titleBlock img {
    transform: translate(-50%, 0);
    position: absolute; }

.leftBar {
  position: absolute;
  text-align: left;
  margin-left: -450px;
  transform: translate(-50%, 0); }

.rightBar {
  position: absolute;
  padding-top: 10px;
  margin-left: 500px;
  transform: translate(-50%, 0);
  border: 0px; }

.socialMediaIcons {
  width: 50px;
  height: auto;
  transform: translate(-50%, 0);
  position: absolute;
  display: inline-flex;
  padding-left: 50px; }
  .socialMediaIcons:hover {
    filter: invert(50);
    transition: ease-in 1s; }

#facebookButton {
  padding-left: 80px; }

/*BOTTOM HALF OF PAGE*/
.bottomHalf {
  margin-top: 550px;
  position: absolute; }

.leftBottomBlock {
  position: absolute;
  margin-left: -500px;
  display: inline-block; }
  .leftBottomBlock ul {
    font-size: 12px;
    display: inline-block;
    height: 25px;
    list-style: none;
    color: lightgray; }
    .leftBottomBlock ul li {
      margin-left: -40px;
      margin-top: 20px;
      border-bottom: 2px solid darkGray;
      font-size: 18px;
      line-height: 50px; }
  .leftBottomBlock img {
    position: absolute;
    margin-left: 50%;
    margin-bottom: 250px;
    padding-bottom: 25px; }

.fadedLine {
  height: 5px;
  background-image: linear-gradient(0.9turn, white, red);
  background-color: red;
  width: 500px;
  padding-top: 5px; }

.mediumHeader {
  font-family: Courier New, Courier, monospace;
  font-size: 2.5em;
  font-weight: 600;
  color: black; }

.rightBottomBlock {
  position: absolute;
  display: block;
  margin-left: 100%; }
  .rightBottomBlock ul {
    font-size: 12px;
    display: block;
    height: 25px;
    list-style: none; }
    .rightBottomBlock ul li {
      position: absolute;
      margin-left: 210px;
      margin-bottom: 250px;
      padding-bottom: 25px; }
      .rightBottomBlock ul li:hover {
        transition: ease-in-out .15s;
        opacity: .8; }

.leftBottomBlock a:link {
  font-size: 18px;
  color: black !important; }

a.readMore {
  display: block;
  padding: 8px 5px;
  text-align: center;
  border-color: darkGray !important;
  border-width: 1px;
  border: solid;
  margin-left: inherit;
  margin-top: 50px;
  color: gray !important;
  width: 200px; }
  a.readMore:hover {
    background-color: darkGray;
    color: black !important;
    text-decoration: none; }

.leftSideImage {
  position: absolute;
  margin-left: 250px;
  padding-top: 50px;
  width: 100%; }
  .leftSideImage:hover {
    transition: ease-in-out .15s;
    opacity: .8; }

.rightSideImage {
  position: absolute;
  margin-left: 210px;
  margin-bottom: 250px;
  width: 500px; }
  .rightSideImage:hover {
    transition: ease-in-out .15s;
    opacity: .8; }

/*FOOTER*/
.contact-footer-bar {
  overflow: hidden;
  background-color: white;
  position: absolute;
  bottom: -150%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-footer-bar a {
  color: white;
  background-color: darkGray;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 20px; }
  .contact-footer-bar a:hover {
    background-color: lightGray; }

/*RESIZING*/
@media only screen and (max-width: 1200px) {
  .leftBar {
    margin-left: -350px; }
  .rightBar {
    margin-left: 400px; }
  .leftBottomBlock {
    margin-left: -400px; }
  .fadedLine {
    width: 400px; } }

@media only screen and (max-width: 990px) {
  .leftBar {
    margin-left: -300px; }
  .rightBar {
    margin-left: 350px; }
  .leftBottomBlock {
    margin-left: -350px; }
  .fadedLine {
    width: 350px; } }

@media only screen and (max-width: 880px) {
  .leftBar {
    margin-left: -250px; }
  .rightBar {
    margin-left: 300px; }
  .leftBottomBlock {
    margin-left: -300px; }
  .fadedLine {
    width: 300px; } }

@media only screen and (max-width: 768px) {
  .leftBar {
    margin-left: -200px; }
  .rightBar {
    margin-left: 250px; }
  .leftBottomBlock {
    margin-left: -250px; }
  .fadedLine {
    width: 250px; } }

@media only screen and (max-width: 640px) {
  .leftBar {
    display: none; }
  .rightBar li {
    display: none; }
  .rightBar {
    position: absolute;
    margin-left: 0px; }
  .leftBottomBlock {
    margin-left: -50vw;
    display: block; }
  .rightBottomBlock {
    display: block;
    margin-left: -50vw; }
  .fadedLine {
    width: 100vw;
    display: block; }
  .bottomHalf {
    position: absolute;
    margin-left: 0%; }
  .socialMediaIcons {
    position: absolute;
    margin-left: -180%;
    margin-top: 250px; }
  .vrImage {
    transform: translate(-50%, 0);
    margin-left: 0vw; } }

@media only screen and (max-width: 233px) {
  .titleBlock img {
    margin-left: 0vw; }
  .rightBar {
    position: absolute;
    margin-left: 50%; }
  .socialMediaIcons {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: -180%; } }
