@font-face {
  font-family: 'Noto-Sans';
  font-style: normal;
  font-weight: normal;
  src: url("../SiteAssets/fonts/NotoSansJP-Regular.otf") format("opentype"); }

.wrapper {
  z-index: -1; }

.hide {
  display: none; }

.sawarabi {
  font-family: 'SawarabiMincho-Regular'; }

.topNav {
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: .25s;
  background-color: white;
  max-height: 200px; }
  .topNav li {
    margin-right: 32px;
    font-family: 'NotoSansJP-Light', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black !important; }

.navTopList {
  margin-top: 64px; }
  .navTopList li {
    margin-left: 60px;
    font-family: 'NotoSansJP-Light', sans-serif;
    font-size: 16px;
    color: black; }

.titleListFormat {
  list-style: none;
  text-align: left;
  white-space: nowrap;
  margin-top: 120px; }
  .titleListFormat a {
    font-family: 'NotoSansJP-Light', sans-serif;
    font-size: 14px;
    bottom: 15px;
    color: #9D9393;
    line-height: 55px; }
    .titleListFormat a:hover {
      background-color: white;
      text-decoration-line: underline;
      text-decoration-color: black;
      color: black;
      transition: ease-in .5s; }

.logo {
  max-width: 300px;
  z-index: -1; }

.w-100 {
  width: 100% !important;
  height: 75vh; }

.faderArrowContainerTop {
  position: absolute;
  margin-top: 400px;
  margin-left: 50%;
  padding: 10px 10px 10px 10px;
  border-style: none; }

/*BOTTOM HALF OF PAGE*/
.bottomHalf {
  margin-top: 400px;
  left: 0;
  position: relative;
  width: 100%; }

.halfContentBlock {
  display: inline-block;
  width: 90%;
  list-style: none;
  vertical-align: top; }

.contentBlock {
  display: inline-block;
  width: 49%;
  list-style: none;
  vertical-align: top; }

.mediumHeader {
  padding-top: 50px; }

.mediumHeaderStyle {
  font-family: 'arial', 'Noto Sans JP', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #707070; }

.sideList {
  list-style: none; }
  .sideList img {
    width: 100%;
    margin-top: 40px; }

.borderedListElement {
  margin-top: 10px;
  margin-left: -40px;
  border-bottom: 1px solid #9D9393;
  font-size: 12px;
  line-height: 48px; }

.leftSideLink {
  color: black;
  width: 100%; }
  .leftSideLink:hover {
    color: black; }

.fadedLine {
  height: 5px;
  background-image: linear-gradient(0.9turn, white, red);
  background-color: red;
  width: inherit;
  padding-top: 5px; }

.listImageContainer {
  position: relative;
  width: inherit; }

.leftSideImage {
  padding-top: 50px; }
  .leftSideImage:hover {
    transition: ease-in-out .15s;
    opacity: .8; }

.imageHashTag {
  display: inline;
  font-family: Courier New, Courier, monospace;
  width: 100%;
  left: 0;
  top: -5px;
  color: black;
  font-size: 15px !important; }
  .imageHashTag:hover {
    color: black;
    text-decoration-line: underline;
    text-decoration-color: black;
    transition: ease-in 1s; }

.imageOverlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1;
  height: 30%;
  bottom: 0; }

.textImageOverlay {
  position: absolute;
  font-family: Courier New, Courier, monospace;
  font-size: 20px;
  bottom: 5px;
  text-align: center;
  color: black;
  text-wrap: normal; }

.contentBlock a:link {
  font-size: 14px;
  color: black !important; }

.readMore {
  padding: 0px 30px;
  text-align: center;
  border-color: #9D9393;
  border-width: 1px;
  border: solid;
  color: gray;
  white-space: nowrap; }
  .readMore a {
    font-size: 20px !important;
    color: gray;
    width: 50%;
    white-space: nowrap; }
  .readMore:hover {
    background-color: #9D9393;
    transition: ease-in-out .15s;
    opacity: .8;
    text-decoration-line: none;
    text-decoration-color: black; }

.newsSnippetDate {
  color: #D4D0D0;
  font-size: 12px;
  font-family: 'arial', 'NotoSansJP-Light', sans-serif; }

.artistRow {
  margin-top: 50px; }

.artistTitle {
  font-size: 48px;
  font-family: 'arial', 'Noto Sans JP', sans-serif; }

.artistParagraph {
  font-size: 16px;
  font-family: 'arial', 'Noto Sans JP', sans-serif; }

/*RESIZING*/
