
/*SECTIONS*/

#section1 {
    //Fader arrow botom will go here. This is at the top of the page.
}

#section2 {
    //Fader Arrow Top will go here. This is just after the title content.
}


/*DEFAULT HEADER (non home page)*/

.headerBlock {
  
    margin-bottom: 200px;
    margin-top: 100px;
}



.returnHomeButton {

    width: 200px;
    height: 80px;
    margin-top: 100px;

    z-index: 1;

    a {
        &:hover {
            transition: ease-in-out .15s;
            opacity: .8;
            cursor: pointer;
        }
    }
}



.unclickableContentImage {
    display: inline;
    width: 100%;
    padding-top: 50px;

    &:hover {
        transition: ease-in-out .15s;
        opacity: .8;
    }
}

.imageDescription {
    position: absolute;
    display: inline;
    margin-top: 15%;
    margin-left: 0px;
    font-size: 20px;
    width: 50%;
}

/*FADER ARROWS*/ ////////////
.faderArrowContainer {
    position: absolute;
    top: 0;
    padding: 10px 10px 10px 10px;
    left: 90%;
    border-style: none;
    transform: translate(-50%,0);
}


.faderArrowContainerTop {
    position: absolute;
    top: 25%;
    padding: 10px 10px 10px 10px;
    left: 0;
    border-style: none;
    transform: translate(-50%,0);
}


@mixin arrowTopMixin {
    margin-top: 5px;
    -webkit-animation: fade 1s alternate infinite;
    animation: fade 1s alternate infinite;
}

@mixin arrowBottomMixin {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    margin-top: 5px;
    -webkit-animation: fade 1s alternate infinite;
    animation: fade 1s alternate infinite;
}

.faderArrow1Bottom {
    @include arrowBottomMixin;
    animation-delay: .75s;
}

.faderArrow2Bottom {
    @include arrowBottomMixin;
    animation-delay: .5s;
}

.faderArrow3Bottom {
    @include arrowBottomMixin;
    animation-delay: .25s;
}

.faderArrow1Top {
    @include arrowTopMixin;
    animation-delay: .25s;
}

.faderArrow2Top {
    @include arrowTopMixin;
    animation-delay: .5s;
}

.faderArrow3Top {
    @include arrowTopMixin;
    animation-delay: .75s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}
////////////////////////////


/*FOOTER*/


.contactUsButton {
    position: absolute;
    transform: translate(-50%);
    padding: 16px 80px 16px 80px;
    color: white;
    background-color: #9D9393;
    text-decoration: none;
    margin-left: 50%;
    margin-bottom: 50px;
    border-radius: 40px;
    font-size: 24px;

    &:hover {
        color: #9D9393;
        background-color: white;
    }
}

.thinSeparator {

    margin-top: 100px;
    border-bottom: 2px solid black;
    border-bottom-color: #9D9393;
    width: 250%;
    transform: translate(-50%);
}

.footerLogo {
   
    max-width:290px;
    height:auto;

}

.accessButton {
    margin-top: 50px;

    padding: 8px 36px;
    text-align: center;
    border-color: gray;
    border-width: 1px;
    border: solid;
    color: gray;
    transform: translate(-50%);

}



.contact-footer-bar {
    margin-left: 50%;
}





.googleMapButton{
    background-color:#9D9393;
    padding:5px 40px;
    border-radius:20px;
    color:white;
 
    margin-bottom:5px;
}

.companyTable {
    font-family: 'arial', 'Noto Sans JP', sans-serif;
    font-size:16px;
    font-weight:200;
    color:black;
    border-collapse: collapse;
    margin-top: 100px;
    width: 100%;
    border: 1px solid black;

}

.tableRow{
    border: 1px solid #dddddd;
    
}

.rowName {
    color: white;
    border: 1px solid white;
    background-color: #9D9393;
    padding:24px;

    
}

.rowData {
    padding-left:50px;
}


.mapsWrapper{
    padding-top:50px;
}

.directionsHeader {
    margin-top: 50px;

    h3:before {
        content: "• ";
    }
}

.directionsList {
    
    font-size: 16px;
}

