@page
@model ProjectStation.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}





<div class="contentBlock">
    <div class="fullMediumHeader">
        About
        <div class="fullFadedLine"></div>
        <ul class="sideList">
            <li class="unborderedListElement">
                <div class="listImageContainer">
                    <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/shimamura.jpg" title="instagram page"></a>
                    <p class="underImageTextOfficial">
                        Kosuke Shimamura
                    </p>
                    <p class="underImageTextOfficial">
                        Gallery Director
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contentBlock">
    <ul class="sideList"style="margin-top: 100px;">
        <li class="unborderedListElement">
            <p class="sideParagraph">
                Tokyo International Gallery, TIG, was established in 2019 and aims to introduce Japan’s insular art scene to international artists and globalized practices. TIG aims to present innovative exhibitions, showcasing experimental work by multifaceted artists. Unlike many other Tokyo based galleries, TIG focuses on the representation of international artists and plans to exhibit their works in Tokyo as well as internationally.

                The Japanese art market is still a few steps behind the leading contemporary art scenes. Through its roster of represented and featured artists, TIG intends to radicalize Japan’s art scene, in the pursuit of elevating Japan’s art scene to a level that can compete with the likes of that of Hong Kong, London, and New York.
            </p>
        </li>
    </ul>
</div>
