@page
@model ProjectStation.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class=" wrapper">


    <div class="halfContentBlock">
        <div class="mediumHeader">
            About
            <div class="fadedLine"></div>
            <ul class="sideList">
                <li class="borderedListElement">
                    2020.05.07 <a href="contact" class="leftSideLink">＜休廊延長のお知らせ＞</a>
                    <div class=" listImageContainer">
                        <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/shimamura.jpg" title="instagram page"></a>
                    </div>

                </li>

            </ul>

        </div>
    </div>

</div>

