@page
@model ProjectStation.Pages.CompanyModel
@{
    ViewData["Title"] = "Company";
}


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="mediumHeader">
                <div class=" mediumHeaderStyle">
                    News
                    <div class="fadedLine"></div>
                </div>

                <table class="table-bordered table-responsive" style="margin-top:50px;">
                    <tr class="tableRow">
                        <td class="rowName">

                            Trade Name
                        </td>
                        <td class="rowData">Tokyo International Gallery Co. , Ltd</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="rowName">CEO</td>
                        <td class="rowData">Kosuke Shimamura</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="rowName">Establishment</td>
                        <td class="rowData">February, 2019</td>
                    </tr>

                    <tr class="tableRow">
                        <td class="rowName">Location</td>
                        <td class="rowData">2nd floor, Ginza Hacchoume Juban Building, 8-10-8 Ginza, Chūō, Tokyo, 104-0061</td>
                    </tr>

                    <tr class="tableRow">
                        <td class="rowName">Business Hours</td>
                        <td class="rowData">
                            Closed on Sunday and public Holidays
                            As we are private gallery ,please contact us before you come.
                        </td>
                    </tr>

                    <tr class="tableRow">
                        <td class="rowName">Contact</td>
                        <td class="rowData">TEL：03-3571-1815 / FAX：03-3571-1822</td>
                    </tr>

                    <tr class="tableRow">
                        <td class="rowName">Permission Number</td>
                        <td class="rowData">Tokyo Metropolitan Public Safety Commission, No. 301061905350, Antiques Dealer</td>
                    </tr>

                </table>


            </div>
        </div>
    </div>


</div>
@*<div class="halfContentBlock">
        <div class="mediumHeader">
            <div class=" mediumHeaderStyle">
                Company
            </div>

            <div class="fadedLine"></div>
            <table class="companyTable">
                <tr class="tableRow">
                    <td class="rowName">

                    Trade Name
                    </td>
                    <td class="rowData">Tokyo International Gallery Co. , Ltd</td>
                </tr >
                <tr class="tableRow">
                    <td class="rowName">CEO</td>
                    <td class="rowData">Kosuke Shimamura</td>
                </tr>
                <tr class="tableRow">
                    <td class="rowName">Establishment</td>
                    <td class="rowData">February, 2019</td>
                </tr>

                <tr class="tableRow">
                    <td class="rowName">Location</td>
                    <td class="rowData">2nd floor, Ginza Hacchoume Juban Building, 8-10-8 Ginza, Chūō, Tokyo, 104-0061</td>
                </tr>

                <tr class="tableRow">
                    <td class="rowName">Business Hours</td>
                    <td class="rowData">
                        Closed on Sunday and public Holidays
                        As we are private gallery ,please contact us before you come.
                    </td>
                </tr>

                <tr class="tableRow">
                    <td class="rowName">Contact</td>
                    <td class="rowData">TEL：03-3571-1815 / FAX：03-3571-1822</td>
                </tr>

                <tr class="tableRow">
                    <td class="rowName">Permission Number</td>
                    <td class="rowData">Tokyo Metropolitan Public Safety Commission, No. 301061905350, Antiques Dealer</td>
                </tr>

            </table>
        </div>
    </div>*@
