@page
@model ProjectStation.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class=" wrapper">
    <div class="halfContentBlock">
        <div class="mediumHeader">
            <div class=" mediumHeaderStyle">@Model.Clients.Count()</div>
            
            <div class="fadedLine"></div>
            <div class="containerTable">


                <form action="/contact">
                    <div class="contactRow">
                        <div class="col-25">
                            <label for="fname">Name※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" name="firstname">
                        </div>
                    </div>
                    <div class="contactRow">
                        <div class="col-25">
                            <label for="lname">Name (reading)※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lname" name="lastname">
                        </div>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="phone">Phone Number※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="phone" name="phone">
                        </div>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="email">Email※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="email" name="email">
                        </div>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="address">Address※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="address" name="address">
                        </div>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="cname">Company Name※</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="cname" name="cname">
                        </div>
                        <div class=" sideNote">
                            Enter "individual" if you are an indiviual customer.
                        </div>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="cname">Your Inquiry※</label>
                        </div>
                        <textarea class="textArea">
                        </textarea>
                    </div>

                    <div class="contactRow">
                        <div class="col-25">
                            <label for="cname">About Privacy Policy※</label>
                        </div>
                        <div class="col-75"spellcheck style="background-color:white;">
                            Please review our Privacy Policy.
                            <input class="checkBox" type="checkbox" id="privacyAgree" name="privacyAgree">
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>