@page
@model ProjectStation.Pages.ExhibitionModel
@{
    ViewData["Title"] = "Exhibition";
}



<div class="mediumHeader">Exhibition</div>
<div class="fullFadedLine"></div>
<div class="contentBlock">

    <ul class="sideList">
        <li>2020.05.07 <a href="contact" class="leftSideLink">＜休廊延長のお知らせ＞</a></li>
        <li> 2020.04.13 <a href="contact" class="leftSideLink">＜休廊のお知らせ＞</a></li>
        <li> 2020.03.18 <a href="contact" class="leftSideLink">＜ART CENTRAL × ARTSY 2020＞</a></li>

        <li> 2020.01.07 <a href="contact" class="leftSideLink">＜ニュース掲載のお知らせ＞　〜DAILY BRUIN〜</a></li>
        <li> 2019.10.30 <a href="contact" class="leftSideLink"> Tokyo International Gallery・Pop Up Shop特別トークイベント開催決定のお知らせ</a></li>
        <li> 2019.10.01 <a href="contact" class="leftSideLink"> ONLINE SHOP OPEN</a></li>
        <li>
            <div class=" listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/toy.jpg" title="instagram page"></a>
            </div>
        </li>
    </ul>
    <div class="readMore">
        <a href="contact">Read More</a>


    </div>


</div>

<div class="contentBlock">

    <ul class="sideList">
        <li>
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/vrImage.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#EXHIBITION</a>
                <div class="imageOverlay">
                    <div class="textImageOverlay">I_AM_BECOME.pdf</div>

                </div>
            </div>
        </li>

        <li>
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tobi.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <div class="imageOverlay">
                    <div class="textImageOverlay">
                        12-14 October 2018 Tobi Art Fair 2018
                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com">
                    <img src="~/SiteAssets/hongkong.jpg" title="instagram page"></aclass="leftSideImage">
                    <a href="contact" class="imageHashTag">#ART FAIR #Hong Kong</a>

                    <div class="imageOverlay">
                        <div class="textImageOverlay">17-22 March 2020 ART CENTRAL 2020</div>
                    </div>
            </div>
        </li>

    </ul>
    <div class="readMore">
        <a href="contact">Read More</a>
    </div>
</div>


    </div>



