@page
@model ProjectStation.Pages.ExhibitionModel
@{
    ViewData["Title"] = "Exhibition";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="fullMediumHeader">Exhibition</div>
            <div class="fadedLine"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card exhibitionCard">
                <a href="contact" class="imageHashTag">#EXHIBITION</a>
                <a asp-page="/exhibition/tigsummer2020"><img class="card-img-top" src="~/SiteAssets/vrImage.jpg" /></a>
                <div class="card-body">
                    <p class="underImageText">
                        I_AM_BECOME.pdf
                    </p>

                    <div class="text-center">

                        <div class="card-footer">
                            <a asp-page="/exhibition/tigsummer2020" class=" readMoreStyle">LIST OF WORKS</a>
                            <a asp-page="/exhibition/IAmBecomePressRelease" class=" readMoreStyle">PRESS RELEASE</a>
                            <a href="contact" class=" readMoreStyle">VR CATALOGUE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-2 offset-sm-0">

            <div class="card exhibitionCard">
                <a href="contact" class="imageHashTag">#ART FAIR #HONG KONG</a>

                <a href="https://artcentralhongkong.com">
                    <img class="card-img-top" src="~/SiteAssets/hongkong.jpg" />
                </a>
                <div class="card-body">
                    <p class="underImageText">
                        ART CENTRAL 2020
                    </p>
                    <p class="underImageText">
                        17-22 March 2020
                    </p>
                    <p class="underImageText">
                        9 Lung Wo Road, Central, Hong Kong
                    </p>
                    <div class="text-center">
                        <div class="card-footer">
                            <div class="justify-content-md-center">
                                <a href="https://goo.gl/maps/sBXuff2ms9cWxXHz9" target="_blank" class="googleMapButton">Google map</a>
                            </div>
                            <a asp-page="/exhibition/artcentralhongkong2020" class="card-link readMoreStyle">LIST OF WORKS</a>
                            <a href="https://artcentralhongkong.com/" class="card-link readMoreStyle">OFFICIAL SITE</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card exhibitionCard">
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <a asp-page="/exhibition/tobiartfair2019">
                    <img class="card-img-top" src="~/SiteAssets/tobi.jpg" />
                </a>
                <div class="card-body">
                    <p class="underImageText">
                        TOBI ART FAIR 2019
                    </p>
                    <p class="underImageText">
                        04-06 October 2019
                    </p>
                    <p class="underImageText">
                        6-19-15 Shimbashi Minato-ku, Tokyo
                    </p>
                    <div class="text-center">

                        <div class="card-footer">
                            <a asp-page="/exhibition/tobiartfair2019" class="card-link readMoreStyle">LIST OF WORKS</a>
                            <a href="#" class="card-link readMoreStyle">COMING SOON...</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-2 offset-sm-0">
            <div class="card exhibitionCard">
                <a href="contact" class="imageHashTag">#ART FAIR</a>

                <a href="https://www.tokyoartfair.com/">
                    <img class="card-img-top" src="~/SiteAssets/tokyoArtFair.jpg" />
                </a>
                <div class="card-body">

                    <p class="underImageText">
                        TOKYO INTERNATIONAL ART FAIR
                    </p>
                    <p class="underImageText">
                        07-08 June 2019
                    </p>
                    <p class="underImageText">
                        7-18-18 Roppongi Minato-ku, Tokyo
                    </p>

                    <div class="text-center">

                        <div class="card-footer">
                            <div class="justify-content-md-center text-center">
                                <a href="https://goo.gl/maps/nExp3XQwbXegq7n6A" target="_blank" class="googleMapButton">Google map</a>
                            </div>

                            <a asp-page="/exhibition/TokyoInternationalArtFair2019" class="card-link readMoreStyle">LIST OF WORKS</a>
                            <a href="contact" class="card-link readMoreStyle">OFFICIAL SITE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 ">
            <div class="card exhibitionCard">

                <a href="https://artcentralhongkong.com/">
                    <img class="card-img-top" src="~/SiteAssets/hongkong.jpg" />
                </a>
                <div class="card-body">
                    <p class="underImageText">
                        ART CENTRAL HONG KONG 2019
                    </p>
                    <p class="underImageText">
                        27-31 March 2019
                    </p>
                    <p class="underImageText">
                        9 Lung Wo Road, Central, Hong Kong
                    </p>


                    <div class="text-center">

                        <div class="card-footer">
                            <div class="justify-content-md-center text-center">
                                <div class="justify-content-md-center"><a href="https://goo.gl/maps/WMsjyJL8urDBTR8U9" target="_blank" class="googleMapButton">Google map</a></div>
                            </div>
                            <a asp-page="/exhibition/artcentralhongkong2019" class="card-link readMoreStyle">LIST OF WORKS</a>
                            <a href="https://artcentralhongkong.com/" class="card-link readMoreStyle">OFFICIAL SITE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5  offset-md-2 offset-sm-0">
            <div class="card exhibitionCard">
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <a asp-page="/exhibition/tobiartfair2018">
                    <img class="card-img-top" src="~/SiteAssets/tobi.jpg" />
                </a>
                <div class="card-body">

                    <p class="underImageText">
                        TOBI ART FAIR 2018
                    </p>
                    <p class="underImageText">
                        12-14 October 2018
                    </p>
                    <p class="underImageText">
                        6-19-15 Shimbashi Minato-ku, Tokyo
                    </p>

                    <div class="text-center">

                        <div class="card-footer">
                            <div class="justify-content-md-center text-center">
                                <a href="https://goo.gl/maps/cxq8qhPwz9WPBG6w8" target="_blank" class="googleMapButton">Google map</a>
                            </div>
                            <a asp-page="/exhibition/tobiartfair2018" class="card-link readMoreStyle">LIST OF WORKS</a>
                            <a href="#" class="card-link readMoreStyle">COMING SOON...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>







