@page
@model ProjectStation.Pages.ExhibitionModel
@{
    ViewData["Title"] = "Exhibition";
}



<div class="mediumHeader">Exhibition</div>
<div class="fullFadedLine"></div>
<div class="contentBlock">


    <ul class="sideList" style="border-bottom:none">
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/vrImage.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#EXHIBITION</a>
                <p class="underImageText">
                    I_AM_BECOME.pdf

                </p>
            </div>
            <div class=" readMoreWrapper">
                <div class="readMoreAllignLeft">
                    <a href="contact">LIST OF WORKS</a>
                </div>


                <div class="readMoreAllignLeft">
                    <a href="contact">PRESS RELEASE</a>
                </div>
                <div class="readMoreAllignLeft">
                    <a href="contact">VR CATALOGUE</a>
                </div>
            </div>
        </li>

        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tobi.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <p class="underImageText">
                    TOBI ART FAIR 2019
                </p>
                <p class="underImageText">
                    04-06 October 2019
                </p>
                <p class="underImageText">
                    6-19-15 Shimbashi Minato-ku, Tokyo
                </p>
            </div>

        </li>
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com">
                    <img src="~/SiteAssets/hongkong.jpg" title="instagram page">
                </a>
                <a href="contact" class="imageHashTag">#ART FAIR #Hong Kong</a>
                <p class="underImageText">
                    ART CENTRAL HONG KONG 2019
                </p>
                <p class="underImageText">
                    27-31 March 2019
                </p>
                <p class="underImageText">
                    9 Lung Wo Road, Central, Hong Kong
                </p>

            </div>
        </li>

    </ul>
    <div class="readMore">
        <a href="contact">Read More</a>
    </div>

</div>

<div class="contentBlock">

    <ul class="sideList">
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/vrImage.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#EXHIBITION</a>
                <p class="underImageText">
                    I_AM_BECOME.pdf

                </p>
            </div>
        </li>

        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tobi.jpg" title="instagram page"></a>
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <div class="imageOverlay">
                    <div class="textImageOverlay">
                        12-14 October 2018 Tobi Art Fair 2018
                    </div>
                </div>
            </div>

        </li>
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a class="leftSideImage" href="https/instagram.com">
                    <img src="~/SiteAssets/hongkong.jpg" title="instagram page"></a>
                    <a href="contact" class="imageHashTag">#ART FAIR #Hong Kong</a>

                    <div class="imageOverlay">
                        <div class="textImageOverlay">17-22 March 2020 ART CENTRAL 2020</div>
                    </div>
            </div>
        </li>

    </ul>
    <div class="readMore">
        <a href="contact">Read More</a>
    </div>
</div>






