@page
@model ProjectStation.Pages.ExhibitionModel
@{
    ViewData["Title"] = "Exhibition";
}


<div class="contentBlock">
    <div class="fullWrapper">
        <div class="fullMediumHeader">
            Exhibition
        </div>

        <div class="fullFadedLine"></div>
        <ul class="sideList">
            <li class="unborderedListElement">
                <div class="listImageContainer">
                    <a href="contact" class="imageHashTag">#EXHIBITION</a>
                    <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/vrImage.jpg" title="instagram page"></a>

                    <p class="underImageText">
                        I_AM_BECOME.pdf

                    </p>

                    <div class=" readMoreWrapper">
                        <div class="readMoreAllignLeft">
                            <a href="contact">LIST OF WORKS</a>
                        </div>


                        <div class="readMoreAllignLeft">
                            <a href="contact">PRESS RELEASE</a>
                        </div>
                        <div class="readMoreAllignLeft">
                            <a href="contact">VR CATALOGUE</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="unborderedListElement">
                <div class="listImageContainer">
                    <a href="contact" class="imageHashTag">#ART FAIR</a>
                    <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tobi.jpg" title="instagram page"></a>

                    <p class="underImageText">
                        TOBI ART FAIR 2019
                    </p>
                    <p class="underImageText">
                        04-06 October 2019
                    </p>
                    <p class="underImageText">
                        6-19-15 Shimbashi Minato-ku, Tokyo
                    </p>
                </div>
                <a href ="https://goo.gl/maps/4izCUf4KnLro6rSc9" target="_blank" class="googleMapButton">Google map</a>
                <div class=" readMoreWrapper">
                    <div class="readMoreAllignLeft">
                        <a href="contact">LIST OF WORKS</a>
                    </div>

                    <div class="readMoreAllignLeft">
                        <a href="contact">COMING SOON...</a>
                    </div>
                </div>

            </li>

            <li class="unborderedListElement">
                <div class="listImageContainer">
                    <a href="contact" class="imageHashTag">#ART FAIR #Hong Kong</a>
                    <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/hongkong.jpg" title="instagram page"></a>

                    <p class="underImageText">
                        ART CENTRAL HONG KONG 2019
                    </p>
                    <p class="underImageText">
                        27-31 March 2019
                    </p>
                    <p class="underImageText">
                        9 Lung Wo Road, Central, Hong Kong
                    </p>

                </div>
                <a href="https://goo.gl/maps/WMsjyJL8urDBTR8U9" target="_blank" class="googleMapButton">Google map</a>
                <div class=" readMoreWrapper">
                    <div class="readMoreAllignLeft">
                        <a href="contact">LIST OF WORKS</a>
                    </div>

                    <div class="readMoreAllignLeft">
                        <a href="contact">OFFICIAL SITE</a>
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>

<div class="contentBlock">

    <ul class="sideList" style="margin-top: 100px;">
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a href="contact" class="imageHashTag">#ART FAIR #HONG KONG</a>
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/hongkong.jpg" title="instagram page"></a>

                <p class="underImageText">
                    ART CENTRAL 2020
                </p>
                <p class="underImageText">
                    17-22 March 2020
                </p>
                <p class="underImageText">
                    9 Lung Wo Road, Central, Hong Kong
                </p>
            </div>
            <a href="https://goo.gl/maps/nExp3XQwbXegq7n6A"target="_blank" class="googleMapButton">Google map</a>
            <div class=" readMoreWrapper">
                <div class="readMoreAllignLeft">
                    <a href="contact">LIST OF WORKS</a>
                </div>

                <div class="readMoreAllignLeft">
                    <a href="contact">OFFICIAL SITE</a>
                </div>
            </div>
        </li>
        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tokyoArtFair.jpg" title="instagram page"></a>

                <p class="underImageText">
                    TOKYO INTERNATIONAL ART FAIR
                </p>
                <p class="underImageText">
                    07-08 June 2019
                </p>
                <p class="underImageText">
                    7-18-18 Roppongi Minato-ku, Tokyo
                </p>
            </div>
            <div class=" readMoreWrapper">
                <div class="readMoreAllignLeft">
                    <a href="contact">LIST OF WORKS</a>
                </div>

                <div class="readMoreAllignLeft">
                    <a href="contact">OFFICIAL SITE</a>
                </div>
            </div>

        </li>

        <li class="unborderedListElement">
            <div class="listImageContainer">
                <a href="contact" class="imageHashTag">#ART FAIR</a>
                <a class="leftSideImage" href="https/instagram.com"><img src="~/SiteAssets/tobi.jpg" title="instagram page"></a>

                <p class="underImageText">
                    TOBI ART FAIR 2018
                </p>
                <p class="underImageText">
                    12-14 October 2018
                </p>
                <p class="underImageText">
                    6-19-15 Shimbashi Minato-ku, Tokyo
                </p>

            </div>
            <a href="https://goo.gl/maps/cxq8qhPwz9WPBG6w8" target="_blank" class="googleMapButton">Google map</a>
            <div class=" readMoreWrapper">
                <div class="readMoreAllignLeft">
                    <a href="contact">LIST OF WORKS</a>
                </div>

                <div class="readMoreAllignLeft">
                    <a href="contact">OFFICIAL SITE</a>
                </div>
            </div>


        </li>
    </ul>



</div>






