@page
@using ProjectStation.Components
@model IndexModel
@{
    ViewData["Title"] = "Tokyo International Gallery | Official Site";
}
<div class="container-fluid" style="">

    <ul class="navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="news">News</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>

    <img class="centerImage" src="~/SiteAssets/tigLogo.png" alt="Company logo" style="width: auto;height: auto;margin-top:0px;">
</div>

<!--at(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
-->



<script src="_framework/blazor.server.js"></script>