@page

@model IndexModel
@{
    ViewData["Title"] = "Tokyo International Gallery | Official Site";
}

@section TitleBlock {


    <div class="container">
        <!--<div class="row" style="margin-top:200px;margin-bottom:0px">
        <div class="col-md-2 d-none d-md-block ">

            <ul class="titleListFormat">
                <li><a asp-page="index">HOME</a></li>
                <li><a asp-page="news">NEWS</a></li>
                <li><a asp-page="Artist/Michaelho">ARTIST</a></li>
                <li><a asp-page="exhibition">EXHIBITION</a></li>
                <li><a asp-page="about">ABOUT</a></li>
                <li><a asp-page="shop">ONLINE SHOP</a></li>
            </ul>

        </div>
        <div class="col-md-8">-->
        @*<img src="~/SiteAssets/tokyointernationalgallery.svg" style="max-width:300px;display:block;margin:auto;" alt="Company logo">*@

        <!--</div>



            <div class="col-md-2 d-none d-md-block ">

                <ul class="titleListFormat" style="text-align:right;">
                    <li><a asp-page="company">COMPANY</a></li>
                    <li><a asp-page="access">ACCESS</a></li>
                    <li><a asp-page="contact">CONTACT</a></li>
                    <li><a asp-page="news">Jp/Eng</a></li>
                    <li>
                        <a href="https://www.instagram.com/tig_official_jp/" target="_blank"><img src="~/SiteAssets/icon_ig.svg " style="max-width:35px;min-width:30px;" title="instagram page" /> </a>

                        <a href="https://www.facebook.com/Tokyointernationalgallery/" target="_blank"><img src="~/SiteAssets/icon_fb.svg" style="max-width:35px;min-width:30px;" title="facebook page" /> </a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="row">
            <a href="#section2" class="faderArrowContainerTop" id="scrollToTop">
                <div class="faderArrow1Top"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>
                <div class="faderArrow2Top"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>
                <div class="faderArrow3Top"><img src="~/SiteAssets/icon_arrow01.png" title="arro1"></div>

            </a>
        </div>-->

        <div id="section2" class="row" style="margin-top:48px;"> </div>

        <div class="row col-md-12">
            <div class="w3-content w3-section " style="max-width:1200px; padding-top:50px;">
                <img class="mySlides w3-animate-fading" style="max-width: 100%; max-height: 800px;" src="~/SiteAssets/TestAssets/wheel.jpg" title="michael ho">
                <img class="mySlides w3-animate-fading" style=" max-width: 100%;max-height: 800px;" src="~/SiteAssets/TestAssets/book.jpg" title="michael ho">
                <img class="mySlides w3-animate-fading" style=" max-width: 100%; max-height: 800px;" src="~/SiteAssets/TestAssets/can.jpg" title="michael ho">
            </div>
        </div>

        @*<div class="card" style=" border-style:none;">

                <img class="card-img" src="~/SiteAssets/TestAssets/wheel.jpg" />




            </div>*@

    </div>

    <div style="background-color: #EDEDED;">
        <div class="container">
            <div class=" mediumHeaderStyle">
                News
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="container bcontent">

                        <hr />
                        <div class="card" style="max-width: 500px; background-color: #EDEDED; border-style:none;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img class="card-img" src="~/SiteAssets/hongkong.jpg" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Suresh Dasari</h5>
                                        <p class="card-text">News text here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="col-md-6">
                    <div class="container bcontent">
                        <hr />
                        <div class="card" style="max-width: 500px; background-color: #EDEDED; border-style: none;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img class="card-img" src="~/SiteAssets/hongkong.jpg" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Suresh Dasari</h5>
                                        <p class="card-text">News text here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="container bcontent">

                        <hr />
                        <div class="card" style="max-width: 500px; background-color: #EDEDED; border-style: none;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img class="card-img" src="~/SiteAssets/hongkong.jpg" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Suresh Dasari</h5>
                                        <p class="card-text">News text here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="col-md-6">
                    <div class="container bcontent">
                        <hr />
                        <div class="card" style="max-width: 500px; background-color: #EDEDED; border-style: none;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img class="card-img" src="~/SiteAssets/hongkong.jpg" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">Suresh Dasari</h5>
                                        <p class="card-text">News text here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top:20px; margin-bottom:80px;margin-left:32px;">
                <p>More news ➝</p>
            </div>



        </div>
    </div>
}


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 9000);
    }
</script>


@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}
