@page
@using ProjectStation.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="center">
    <img class ="mx-auto d-block"src="~/SiteAssets/tigLogo.png" alt="Company logo" style="width: auto;height: auto;">
</div>

<!--at(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
-->



<script src="_framework/blazor.server.js"></script>