@page
@using ProjectStation.Components
@model IndexModel
@{
    ViewData["Title"] = "Tokyo International Gallery | Official Site";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div id="titlePage" class="wrapper">



    <div class="titleBlock">
        <div id="tigLogo">
            <img src="~/SiteAssets/tigLogo.png" alt="Company logo">
        </div>
        <div id="left-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="news">News</a></li>
                <li><a href="news">Artist</a></li>
                <li><a href="news">Exhibition</a></li>
                <li><a href="news">About</a></li>
                <li><a href="news">Online Shop</a></li>
            </ul>


        </div>
        <div id="right-nav">
            <ul>
                <li><a href="/">Company</a></li>
                <li><a href="news">Access</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="news">Jp/Eng</a></li>
            </ul>

        </div>
        <div class="socialMediaIcons">
            <div id="instagramButton">
                <a href="https/instagram.com"><img src="~/SiteAssets/icon_ig.svg " title="instagram page" /> </a>
            </div>

            <div id="facebookButton">
                <a href="https/facebook.com"><img src="~/SiteAssets/icon_fb.svg" title="facebook page" /> </a>
            </div>
        </div>

        <br />
        <br />

    </div>
    <!--at(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
    -->

    </div>

    <script src="_framework/blazor.server.js"></script>
