@page
@using ProjectStation.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="center">
    <img src="~/SiteAssets/tigLogo.JPG" alt="Company logo" style="width:400px;
height:128px;">
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))




<script src="_framework/blazor.server.js"></script>