@page
@model ProjectStation.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mediumHeader">
                    <div class=" mediumHeaderStyle">
                        News
                        <div class="fadedLine"></div>
                        <ul class="sideList">
                            @foreach(var newSnippet in Model.NewsSnippets)
                                    {
                                        <li class="borderedListElement">@newSnippet.Date <a href = "contact" class="leftSideLink">@newSnippet.Title</a></li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
        
    </div>

