@page
@model ProjectStation.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mediumHeader">
                <div class=" mediumHeaderStyle">
                    News
                    <div class="fadedLine"></div>
                    <ul class="sideList">
                        @for (int i = Model.NewsSnippets.Count() - 1; i >= 0; i--)
                        {
                            Models.Models.NewsSnippet newsSnippet = Model.NewsSnippets[i];
                            <li class="borderedListElement">@newsSnippet.Date <a asp-page="NewsStuff/NewsDetails" asp-route-id="@newsSnippet.Id" class="leftSideLink">@newsSnippet.Title</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

