@page
@model ProjectStation.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}

<div class=" bottomHalf">


    <div class="leftBottomBlock">
        <div class="mediumHeader">
            News
            <div class="fadedLine"></div>
            <ul class="leftSideList">
                <li>2020.05.07 <a href="contact" class="linkText">＜休廊延長のお知らせ＞</a></li>
                <li> 2020.04.13 <a href="contact">＜休廊のお知らせ＞</a></li>
                <li> 2020.03.18 <a href="contact">＜ART CENTRAL × ARTSY 2020＞</a></li>

                <li> 2020.01.07 <a href="contact">＜ニュース掲載のお知らせ＞　〜DAILY BRUIN〜</a></li>
                <li> 2019.10.30 <a href="contact"> Tokyo International Gallery・Pop Up Shop特別トークイベント開催決定のお知らせ</a></li>
                <li> 2019.10.01 <a href="contact"> ONLINE SHOP OPEN</a></li>

            </ul>
            <div> <a class="readMore" href="contact">Read More</a></div>
            <div>
                <a href="https/instagram.com"><img class="leftSideImage" src="~/SiteAssets/toy.jpg" title="instagram page"></a>
            </div>

        </div>

    </div>
</div>
