@page
@model ProjectStation.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>The page you are looking for cannot be found</h1>

<a asp-page="/Users/index" class="btn btn-primary">Click here to return home.</a>
