@page
@model ProjectStation.Pages.OrderCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.Id" class="control-label"></label>
                <input asp-for="Order.Id" class="form-control" />
                <span asp-validation-for="Order.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <input asp-for="Order.CustomerId" class="form-control" />
                <span asp-validation-for="Order.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.FirstName" class="control-label"></label>
                <input asp-for="Order.FirstName" class="form-control" />
                <span asp-validation-for="Order.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.LastName" class="control-label"></label>
                <input asp-for="Order.LastName" class="form-control" />
                <span asp-validation-for="Order.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CompanyName" class="control-label"></label>
                <input asp-for="Order.CompanyName" class="form-control" />
                <span asp-validation-for="Order.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Country" class="control-label"></label>
                <input asp-for="Order.Country" class="form-control" />
                <span asp-validation-for="Order.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.StreetNumber" class="control-label"></label>
                <input asp-for="Order.StreetNumber" class="form-control" />
                <span asp-validation-for="Order.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.City" class="control-label"></label>
                <input asp-for="Order.City" class="form-control" />
                <span asp-validation-for="Order.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.State" class="control-label"></label>
                <input asp-for="Order.State" class="form-control" />
                <span asp-validation-for="Order.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ZipCode" class="control-label"></label>
                <input asp-for="Order.ZipCode" class="form-control" />
                <span asp-validation-for="Order.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PhoneNumber" class="control-label"></label>
                <input asp-for="Order.PhoneNumber" class="form-control" />
                <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.EmailAddress" class="control-label"></label>
                <input asp-for="Order.EmailAddress" class="form-control" />
                <span asp-validation-for="Order.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderNotes" class="control-label"></label>
                <input asp-for="Order.OrderNotes" class="form-control" />
                <span asp-validation-for="Order.OrderNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.DateTime" class="control-label"></label>
                <input asp-for="Order.DateTime" class="form-control" />
                <span asp-validation-for="Order.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Order.OrderStatus" asp-items="Html.GetEnumSelectList<Models.Models.OrderStatus>()" class="form-control">
                    <option value="">Choose a method.</option>
                </select>
                <span asp-validation-for="Order.OrderStatus" class="text-white"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Total" class="control-label"></label>
                <input asp-for="Order.Total" class="form-control" />
                <span asp-validation-for="Order.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
