@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model 
    <div class="wrapper">

        <nav class="inlineNavBar">
            <ul>
                <li> <img class="smallLogo" src="~/SiteAssets/shopstuff/logo_2.jpg"></li>
                <li><a href="/">Home</a></li>
                <li><a href="project">PROJECT</a></li>
                <li><a href="asiansquat">Asian Squat</a></li>
                <li><a href="login">LOGIN</a></li>
                <li><a href="cart">CART</a></li>
                <li><a href="japanese">Japanese</a></li>
            </ul>

        </nav>
    </div>
