@page "/shop/cart/"
@model ProjectStation.Pages.ShopStuff.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:164px;">
        <div class="col-12">

            <h2 class="text-center">カート</h2>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            @foreach (var item in Model.CartItems)
            {
                <div class="card">
                    <img class="card-img" style="max-width:300px;" src="@Url.Content(Model.GetProductImg(item.ProductId))" />
                    <p class="card-body">@Model.GetProductName(item.ProductId) x @item.Quantity</p>
                </div>
            }
        </div>

    </div>

    <div class="row">
        <p>@Model.TotalCost.ToString()</p>
    </div>
</div>

