@page "/shop/cart/"
@model ProjectStation.Pages.ShopStuff.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:164px;">
        <div class="col-12">
     
            <h2 class="text-center">カート</h2>
        </div>
    </div>
</div>

