@page
@model ProjectStation.Pages.ShopStuff.ChargeOutcomeModel
@{
    ViewData["Title"] = "ChargeOutcome";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<h1>ChargeOutcome</h1>
<p>@Model.ChargeOutcomeMessage</p>
