@page
@model ProjectStation.Pages.ShopStuff.LawModel
@{
    ViewData["Title"] = "Law";
    Layout = "~/Pages/ShopStuff/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            特定商取引法に基づく表示
        </div>
        <div class="card-body">
            販売業者の名称
            株式会社Tokyo International Gallery

            販売業者の住所
            〒104-0061
            東京都中央区銀座8-10-8 銀座八丁目十番ビル 2階

            販売業者の連絡先
            TEL : 03-3571-1815
            受付時間
            11:00～18:00（月〜土）

            メールでのお問い合せは、「お問い合せ」よりお願いいたします。

            代表者
            島村 航介

            商品の価格
            商品ごとに表示

            商品等の注文の取消し・返品・交換

            【返品・交換対応について】
            商品の返品・交換をご希望のお客様は、商品到着後7日以内に必ず当店までご連絡ください。
            事前にご連絡がない場合は、返品・交換をお受けできませんのでご注意ください。
            ご連絡いただきました後、返品・交換方法を改めてご連絡させていただきます。

            【商品不良など、当店理由による返品・交換】
            商品の品質については万全を期しておりますが、商品が破損・汚損していた場合、または注文と異なる商品が届いた場合は、交換・返品させていただきます。
            商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。
            不良品の場合、送料は当店で負担させていただきます。
            大変お手数ではございますが、料金着払いにてご返送ください。
            早急に返品・交換の対応をさせていただきます。
            尚、商品が在庫切れ等の場合、交換ができずキャンセルをお願いする場合もございます。
            事前にご連絡させていただきますので、ご了承ください。

            【お客様のご都合による返品・交換】
            イメージが違うなど、お客様都合の返品・交換の際の送料は、お客様のご負担でお願いいたします。
            返品・交換の商品は、ラベルや袋などの付属品と共に、お届けした状態でご返送ください。
            セット商品としてご購入いただいた商品は、まとめて一緒にご返送ください。

            【返品・交換をお受けできない場合】
            ・お客様が既に利用されている商品（ご使用後、不良品と分かったものは除きます。）
            ・お客様が汚損・破損された商品。
            ・お届けから８日以上が経過した商品。

            【返品期限】
            商品到着後7日以内とさせていただきます。

            【返品送料】
            お客様都合による返品につきましては、お客様のご負担とさせていただきます。不良品に該当する場合は当店で負担いたします。

            商品代金以外の必要金額
            ・配送料
            ・消費税10%

            支払方法
            クレジットカード( VISA、MASTER、JCB、アメリカン・エキスプレス、ダイナース）

            支払期限
            ご利用のクレジットカードの締め日や契約内容により異なります。ご利用されるカード会社までお問い合わせください。
        </div>
    </div>

</div>

