@page
@model ProjectStation.Pages.ShopStuff.projectModel
@{
    ViewData["Title"] = "project";
}


@section TitleBlock {
   
}


<body>
    <p class="centerTitle">PROJECT</p>
    <img class="centralImage" style="width:50%;"src="~/SiteAssets/shopstuff/yellowUnderwater.jpg">
    <p class="underImageText" style="margin-left:20%;">SEQUENCE1</p>
</body>